[2016-01-20 10:13] ethicalhack3r commented on #897
You probably want to increase ```--request-timeout``` and ```--connect-timeout``` but first I'd try something like lowering the threads ```--threads``` (I think  the default is 10 for all these options)

You may also want to use a random user agent string just in case it is a WAF or similar actively blocking you based on the WPScan user agent string. Use ```--random-agent``` with no value.

A plug

[2016-01-20 10:52] spainops commented on #897
Awesome - thanks for the lightening quick response and detail :)

[2016-01-20 11:04] markri commented on #878
On ubuntu 14, you will need additional dev headers for the gmplib. (this was missing in mine)
try installing "libgmp-dev" and then enter "bundle install --without test" again

[2016-01-20 12:05] #897 closed

[2016-01-22 19:18] hubdotcom opened #898 "WP Engine logins fail"
WPE requires an additional string on the URL to process requests otherwise it results in a 500 error:
/wp-login.php?wpe-login={install_name}

Also note, IP's are blocked with WPE after 10,000 attempts

[2016-01-25 23:34] rastating opened #899 "Version range for vuln 8358 potentially incorrect"
I was doing some testing with vuln 8358 today (https://wpvulndb.com/vulnerabilities/8358) and on versions 4.2 and 4.3.1 it seems to not be an issue. I tested with version 4.4 and confirmed it to definitely be working in that version, but earlier versions of WordPress may not be vulnerable it seems.

[2016-01-26 01:02] cannycookie commented on #887
Hey @joerichard  did you get any luck? We too are trying this but getting lots of permission denied as the PHP shell doesn't have the rvm environment.

@ethicalhack3r We have a database of >100 WP sites to be monitored, have PHP skills but very limited Ruby knowledge. Seems logical to us to be able to execute your (awesome) script from within a language we know and collect the results.  I had thou

[2016-01-26 01:07] FireFart commented on #887
Hi @cannycookie ,
if you want to scan > 100 WP sites you probably need a license. Please see https://github.com/wpscanteam/wpscan/blob/master/LICENSE for details and how to get in touch with us. // cc @ethicalhack3r

[2016-01-26 01:08] rastating commented on #899
Nevermind actually - having reviewed the code in question, it looks like there are two other potential places that it can be exploited, the one I was testing was only introduced in later versions, but the other two were introduced back in October 2013 (i.e. version 3.7); my bad! :)

[2016-01-26 01:08] #899 closed

[2016-02-04 19:14] Veraxus opened #900 "stop_user_enumeration_bypass.rb fails with undefined method error"
I get this message when I try to run `stop_user_enumeration.rb`:

    undefined method `>' for nil:NilClass

I can't find any documentation for this error.

OS: OSX El Capitan 10.11.2
Ruby: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]

[2016-02-04 19:37] #900 closed

[2016-02-04 19:43] erwanlr commented on #900
Fixed in the latest revision, thanks for the report :)

[2016-02-05 21:56] ronanxllr commented on #888
wpscan Version 2.9
When attempting to enumerate users, it'll fail with this error message (or similar)

ruby wpscan.rb --url example.com --enumerate u
...
[+] Enumerating usernames ...
[+] Identified the following 3 user/s:

[!] undefined method `cells' for #<Array:0x0000000572e200>

[2016-02-07 15:25] FireFart opened #902 "404 checking"
Received by mail:

Hi Team,

I made an interesting observation in https://github.com/wpscanteam/wpscan/blob/master/lib/wpscan/wp_target/wp_custom_directories.rb

If you look at like 29, you're testing to see if a response from the content directory test hashes to the error or home page:
[code]

However, you don't do the same for line 45 when testing for the plugins directory -- i.e. you test to se

[2016-02-07 18:50] bobbysmith commented on #876
@dylanjhunt thank you! nokogiri was driving me crazy

[2016-02-08 22:34] mgites commented on #902
Related, I understand the two lines represent different levels of caution.  I'm curious as whether it would make more sense to combine the two approaches by simply detecting both a 404 and 301 redirect using the status code (so also add ....code != 301) rather than hashing?

[2016-02-08 23:04] mgites commented on #902
I'm curious as to how common it is for sites to actually redirect on 404 to the home or custom 404 page and not actually return the 404 status code.  Last I checked, it's actually a poor SEO choice to do this kind of thing as it introduces duplicate content and subsequent penalties by Google.

[2016-02-09 23:02] Veraxus opened #903 "Plugin detection false positives"
On sites where there is a forced login/SSO redirect, WPScan...

- Hangs for a while when finished enumerating plugins & themes, then...
- Incorrectly claims that every plugin in its database is currently installed (1262 as of right now)
- Claims that it can't detect any plugin versions and proceeds to list out every vulnerability for every plugin in its database.
- Does all of the above with theme

[2016-02-10 08:49] ethicalhack3r commented on #903
Fix could be what is alluded to in https://github.com/wpscanteam/wpscan/issues/902

To do haomepage and 404 checking against plugins + themes.

[2016-02-10 08:51] ethicalhack3r commented on #902
You see all kinds of weird stuff when looking at web applications that defies all logic. It's common enough to do the check I think.

[2016-02-10 08:55] FireFart commented on #902
What do you think of smth like this?

[code]

[2016-02-10 08:58] erwanlr commented on #903
(this has nothing to do with #902)

[2016-02-10 08:58] ethicalhack3r commented on #902
:+1: looks good to me!

[2016-02-10 08:58] FireFart commented on #902
nope it doesn't handle 403's correct....currently looking into it :D

[2016-02-10 08:58] ethicalhack3r commented on #903
Yea, was just coming to that realisation...

[2016-02-10 09:02] FireFart commented on #902
Hm I think the current code in master is correct. Because every response on wp-content/plugins other than 404 is a hit (a forbidden, auth required, server error, ...). If it's a 404 the response code it's from the webserver I think, so it really does not exist.

So I don't think we need a change here. What do the others think?

[2016-02-10 09:04] FireFart commented on #903
@Veraxus could you maybe provide the site in private to team@wpscan.org so we can have a look into this?

[2016-02-10 16:17] mgites commented on #902
The issue is when performing brute force plugin look ups.

Isn't the issue that if you happen to lookup a nonexistent plugin subfolder in the wp-content/plugins folder (as brute force does to see if a plugin is installed) and a site redirects to home or some custom 404 page, a 404 code may not be returned. A false positive happens. Unfortunately, I have seen sites that would return a 200 code for

[2016-02-10 16:32] ethicalhack3r commented on #902
I think we already do homepage and 404 hash checking for plugin/theme enumeration as it goes though this code https://github.com/wpscanteam/wpscan/blob/master/lib/common/models/wp_item/existable.rb

If there are still issues with false positives the ```--exclude-content-based "<regexp or string>"``` option can be used. This options does the following:

[code]

[2016-02-10 17:13] erwanlr commented on #903
The easiest one to explain:

This is due to the fact that plugins/themes versions are checked at this moment, so it will try to determine the version of every plugins detected, in this case all the 1262, which take quite a while :x

This one is caused by the redirection to the login form when checking the plugins existence. To keep it short, we check 301 & 302 which sometimes are sign of existing

[2016-02-10 17:13] erwanlr commented on #902
This issue has nothing to do with plugins/themes detection, it just checks whether the wp-content & wp-plugins directory exists and that's all.

However, like Ryan said above, we do perform similar checks about the 404 hashes during the plugins/themes enumeration. Regarding that, I responded on the other issue thread (#903).

[2016-02-11 20:53] synthead commented on #512
Bundler seems to silently leverage my local sudo privileges to install (untracked) files globally, which is very, very bad.  I now have loads of executables in /usr/bin that are not tracked via my package manager.  Not a fun thing to find at random, and I have to take the time to clean this up.

At the very least, Bundler should ask before using sudo privileges.  Personally, I want it to never use

[2016-02-13 16:07] fredleger opened #904 "threads is ignored when brute forcing"
How to reproduce :

./wpscan.rb -u http://exemple.com/ -f --username user --wordlist ./passwords.lst --threads 1 :

<snip>
Brute Forcing 'user' Time: 00:00:00 <=              > (1 / 11)  9.09%  ETA: 00:00:08
[!] ERROR: Server error, try reducing the number of threads.
Brute Forcing 'user' Time: 00:00:01 <==             > (2 / 11) 18.18%  ETA: 00:00:07
[!] ERROR: Server error, try reducing the numb

[2016-02-13 16:51] erwanlr commented on #904
The 11 progress bars output is 'just' a display issue due the errors also displayed, there are not 11 threads running.

The fact that there are 11 passwords detected (instead of 10) is because we use ```wc -l``` to dtermine the number of password in the wordlist, then add one to avoid files w/o an empty new line to produce an error in the progress bar.

I've updated the output to (hopefully) avoid

[2016-02-13 17:09] fredleger commented on #904
Ok Great. Thanks for the explanation.

Le 13/02/2016 17:51, erwanlr a écrit :

[2016-02-14 12:46] #904 closed

[2016-02-15 11:54] mostafahussein commented on #703
is there a way to make `--log` save report by uri (domain name) instead of the default `log.txt` ?

[2016-02-15 12:29] b1nary commented on #876
I want to ad, also if its somewhat unrelated to the project but the the answer itself. When `xcode-select --install` gives a cryptic message about some "Software Updater" it means you have to start xcode and click install there. Took me a hour to understand this, hope this helps somebody.

[2016-02-15 15:34] zachsis opened #905 "Feature Request: Output to CSV/JSON?"
Hi,

Would it be possible to put in a feature request to have wpscan be able to output findings to csv/json? This would be very useful to make automating checks for wordpress vulns quicker and easier. And thanks for all your hard work on this project!! this tool is extremely useful!!

[2016-02-16 17:09] stifler171 commented on #788
Someone can help me I use the Kali Linux , my WPScan Version 2.9 do not want to update the database, you are accusing an error in PLUGINS.JSON .
What should I do to update

root@root:~/wpscan# ruby wpscan.rb -u www.frivjogosonline.com.br -e user
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\

[2016-02-16 18:05] madhuakula commented on #905
+1

[2016-02-16 20:16] FireFart commented on #788
@stifler171 can you please post the output of `curl --version` and `curl -I https://data.wpscan.org/plugins.json`? Also how did you get to this version? Have you cloned the github repo or installed some system package?

[2016-02-16 20:22] stifler171 commented on #788
I cloned the github

[2016-02-16 20:25] FireFart commented on #788
@stifler171 so can you please post the output of the 2 commands above?

[2016-02-16 20:53] FireFart commented on #788
@stifler171 also this is my output on a freshly updated kali box:
[code]

[2016-02-16 21:39] mondoisa opened #906 "Wpscan --url [url] incorrectly returns that the WordPress URL supplied ' ' seems to be down"
While trying to test wpscan on my wordpress site using (kali linux), the console continuously returns this image,
![image](https://cloud.githubusercontent.com/assets/17281030/13092000/c3c1d2b6-d4cb-11e5-96c6-28da5798358a.png)
even though I have checked numerous times and the site is up. Any advice?

[2016-02-16 22:12] ethicalhack3r commented on #906
That shortened URL redirects to a wordpress.com hosted blog which WPScan was not designed to scan as they are managed by WordPress themselves and they take care of the security

[2016-02-16 22:22] mondoisa commented on #906
Great thanks! But can't wpscan be used to test for vulnerabilities in the blog account, if not how would I correctly go about this? Or does it only work for non-wp sites?

[2016-02-16 23:57] stifler171 commented on #788
Thank you for your help! But I do not know how I can get the same commands the ones you posted .

I just installed WpScan the command that GitHub offers

more when I ultilizo the camando

wpscan --url www.exemple.com --enumerate -u

well it works, no more calls to make UPDATE he does direct varedura .

[2016-02-17 00:14] stifler171 commented on #788
root@root:~/wpscan# ./wpscan.rb --update --verbose
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

[2016-02-17 05:39] FireFart commented on #788
@stifler171 as said before, please post the output of `curl --version` and `curl -I https://data.wpscan.org/plugins.json`

[2016-02-17 09:12] ethicalhack3r commented on #906
WPScan is designed to only scan self hosted WordPress

[2016-02-17 09:12] #906 closed

[2016-02-21 13:53] l3msh0 commented on #905
+1

[2016-02-22 09:23] ethicalhack3r commented on #905
This is being tracked in https://github.com/wpscanteam/wpscan/issues/198

[2016-02-22 09:23] #905 closed

[2016-02-23 12:07] cdr666 opened #908 "Unable to get https://data.wpscan.org/plugins.json (Timeout was reached)"
Hello I am not able to make it work ...

I've tried everything mentioned in here ..
https://github.com/wpscanteam/wpscan/issues/797

`ruby ./wpscan.rb --update --connect-timeout 60 --request-timeout 60`

[code]

I am able to view https://data.wpscan.org/plugins.json manually ... but how is that possible that it won't update the dtb?

ruby version:
`ruby 1.9.3p484 (2013-11-22 revision 43786) [i686-

[2016-02-23 12:40] ethicalhack3r commented on #908
Although officially supported by us, your version of Ruby is very outdated. Please try updating Ruby and trying again.

[2016-02-24 22:41] Kayoti opened #910 "ERROR: No response from remote server. WAF/IPS? (Server returned nothing (no headers, no data))"
Error appeared but brute force process is still running. Is it still trying or should I restart all over again?

[2016-02-24 23:03] erwanlr commented on #910
If the progress bar is showing progress then it's still trying

[2016-02-25 13:52] ethicalhack3r commented on #908
Did updating Ruby work for you?

[2016-02-25 16:18] Kayoti commented on #910
ok thanks

[2016-02-25 16:18] #910 closed

[2016-02-26 11:25] nl5887 commented on #381
This issue is not totally related, but I had the same on OS-X, due to an older version of libcurl being used.  Written about the solution (using a newer libcurl) here: http://blog.dutchcoders.io/using-newer-libcurl-on-osx/.

[2016-02-26 14:04] henggana commented on #878
Installing 'libgmp-dev' on ubuntu 14 works for me. Was unable to run `gem install ffi -v '1.9.10'` on ruby 2.2.3 and 2.3.0, but works on 2.2.1.

[2016-03-02 20:05] TeamGrassCZ opened #911 "WPScan - URL seems to be down"
Hello, today I downloaded BackBox linux and tried to scan a url with wpscan. Firstly I had a problem with root, but I solved it. Now I have a problem with scan. This is my problem: https://ctrlv.cz/lM5V Is a problem that, the web is HTTPS? Can you help me, what I am doing wrong? I am a beginner...

Thank you!

[2016-03-07 18:40] superscott commented on #911
doesn't look like you're doing anything wrong - looks like that website is probably using some shared hosting or something similar:

`traceroute emigratetoczechrepublic.wordpress.com
traceroute: Warning: emigratetoczechrepublic.wordpress.com has multiple addresses; using 192.0.78.12
traceroute to lb.wordpress.com (192.0.78.12), 64 hops max, 52 byte packets`

i don't know what the exact solution to

[2016-03-07 19:45] superscott commented on #908
`~/projects/wpscan [11:39:44] [ruby-1.9.3-p484] $ ruby ./wpscan.rb --update --connect-timeout 60 --request-timeout 60`
`Ruby >= 2.1.8 required to run wpscan (You have 1.9.3)`
`ruby 1.9.3p484 (2013-11-22 revision 43786) [x86_64-darwin15.3.0]`

@cdr666  When I run the update command and using `ruby-1.9.3-p484` I doesn't even look like it's making the request. If you're still stuck using 1.9.3, can y

[2016-03-07 19:56] FireFart commented on #908
@superscott we've dropped ruby < 2.1 support a few days ago. @cdr666 uses an older version without this check

[2016-03-07 20:02] superscott commented on #908
@FireFart -- alright, i'll roll back my wpscan version to see if i can repro, thanks for the heads up.

[2016-03-07 20:16] superscott commented on #908
`git checkout tags/2.8`

`~/projects/wpscan [12:09:08] [ruby-1.9.3-p484] $ ruby ./wpscan.rb --update --connect-timeout 60 --request-timeout 60
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /

[2016-03-07 20:17] FireFart commented on #908
i think it's because of an old outdated openssl/curl version. We switched the data files on master to amazon so the clients need to support SNI

[2016-03-11 04:14] Veraxus opened #912 "[!] uninitialized constant CGI"
Every time I run WPScan I get the first few tests (robots.txt and the WordPress readme file check) and then the scan abruptly ends right there with `[!] uninitialized constant CGI`

[2016-03-11 08:24] FireFart commented on #912
This is the only occurence of `CGI`:
https://github.com/wpscanteam/wpscan/blob/1e1c79aa56ed4316afd7df58a23e88c28ddf89ec/lib/common/common_helper.rb#L273

Which ruby version are you running?

[2016-03-11 08:29] FireFart commented on #912
@Veraxus i pushed a possible fix for this. Can you please update to the latest version and try again?

[2016-03-11 15:15] Veraxus commented on #912
That seems to have done the trick. Thanks!

BTW, using Ruby 2.3.0p0 (2015-12-25 revision 53290) fyi

[2016-03-11 15:15] #912 closed

[2016-03-11 15:27] FireFart commented on #912
awesome thx!

[2016-03-12 11:59] pavan4information opened #913 "unable to install"
![Uploading Screenshot from 2016-03-12 17:17:37.png…]()
I followed all the steps very clearly and tried to install the wpscan but unfortunately i am getting same error even  i tried more number of times. and
i have updated my ruby my git and i installed some dependencies but no use
please tell me a solution

[2016-03-12 12:18] ethicalhack3r commented on #913
It looks as though your screenshot did not upload, I assume it was of the error. Please can you provide the error text.

[2016-03-12 12:20] pavan4information commented on #913
Thanks EH
[ERROR] cannot load such file -- bundler/setup

[2016-03-12 12:22] ethicalhack3r commented on #913
Did you try ```gem install bundler```?

If that doesn't fix, please provide the version of Ruby you're running, the version of WPScan you're running, what command you're running and on what OS.

[2016-03-12 12:26] pavan4information commented on #913
ruby 2.3.0p0 (2015-12-25 revision 53290) [i686-linux]
i followed these steps
sudo apt-get install libcurl4-openssl-dev libxml2 libxml2-dev libxslt1-dev ruby-dev build-essential libgmp-dev
git clone https://github.com/wpscanteam/wpscan.git
cd wpscan
sudo gem install bundler && bundle install --without test

[2016-03-12 12:28] ethicalhack3r commented on #913
Thanks!

What output do you get when you ran ```sudo gem install bundler && bundle install --without test```?

[2016-03-12 12:30] pavan4information commented on #913
RROR:  Loading command: install (LoadError)
	cannot load such file -- zlib
ERROR:  While executing gem ... (NoMethodError)
    undefined method `invoke_with_build_args' for nil:NilClass

[2016-03-12 12:34] ethicalhack3r commented on #913
What operating system? Looks like you're missing zlib: http://stackoverflow.com/questions/9727908/cannot-load-such-file-zlib-even-after-using-rvm-pkg-install-zlib

You will have to install zlib (and possible openssl) then ```rvm reinstall 2.3.0```

[2016-03-12 12:43] ethicalhack3r commented on #911
Hey!

WPScan does not support scanning of wordpress.com hosted sites.

[2016-03-12 12:43] #911 closed

[2016-03-12 12:46] ethicalhack3r opened #914 "Recommend rvm autolibs?"
What do you think about adding ```rvm autolibs enable``` to our install instructions?

http://rvm.io/rvm/autolibs

[2016-03-12 12:48] ethicalhack3r commented on #913
You could try running:

[code]

Which should install the missing libraries as well as missing package manager if your OS does not have one.

[2016-03-12 12:50] ethicalhack3r commented on #914
Looks like it is enabled by default:

[2016-03-12 12:50] #914 closed

[2016-03-12 21:01] FireFart opened #915 "Check for install.php?"
Should we implement a install.php check and parse the returned content to see if the site is already installed?

Example:
http://seclists.org/fulldisclosure/2016/Mar/37

[2016-03-12 21:31] ethicalhack3r commented on #915
Not sure I understand fully. If WP is already installed install.php should not allow you to reinstall?

[2016-03-13 06:52] pavan4information commented on #914
still the same problem is occuring  ...i installed rvm complete package and i tried to debug it from the scratch with a fresh installation but it doesnt gave the result.....

[2016-03-13 08:10] FireFart commented on #915
Jeah but in this case it looks like this has not worked. But i just saw we already check the main page for a redirection to install.php so this should be enough

[2016-03-13 08:10] #915 closed

[2016-03-14 19:11] eheydrick opened #916 "Release as gem?"
It would be nice if wpscan was available as a gem on rubygems. This would simplify installation - no need to install bundler and the various ruby dependencies. It would also simplify integrations with other ruby projects. Thoughts?

[2016-03-14 21:05] FireFart commented on #916
V3 (currently private) will be released as a gem. If you would like to simplify your installation in the meantime you can try out our docker image https://hub.docker.com/r/wpscanteam/wpscan/

[2016-03-14 21:05] #916 closed

[2016-03-14 21:13] eheydrick commented on #916
Glad to hear that V3 will be released as a gem. Looking forward to it.

[2016-03-15 11:23] pavan4information commented on #913
i am still having the same problem please help me any one  i am getting the same error as
[ERROR] cannot load such file -- bundler/setup
I installed bundler and i updated but it is still showing the error
Thanks in advance

[2016-03-19 20:34] mgites opened #917 "popular vs. unpopular plugins"
What does it mean for a plugin to have a null value for popularity in the plugins.json?

For example,
tweet2post is neither popular or unpopular as it's value is null
aw-woocommerce-pos is neither popular or unpopular as it's value is null

Is there a way to assign these a valid true or false value?  It turns out that there are dozens of such plugins with this null value.

[2016-03-21 08:04] ethicalhack3r commented on #917
Thanks for the heads up, looks like you're right.

[code]

This should not be happening and is a bug somewhere in wpvulndb.com. I will investigate and try to fix.

[2016-03-21 08:33] ethicalhack3r commented on #917
Looks like our parsing scripts have been timing out recently, which could be causing the issue. I'm going to increase the timeout value to see if this prevents it from timing out.

[2016-03-21 11:29] pkhadka56 commented on #908
same problem here, I have installed latest ruby and it is showing me following error:

[!] Unable to get https://data.wpscan.org/plugins.json (Timeout was reached)

I had to edit your core files, download plugins.json in my laptop and run update for this. May be issue is related to ssl as mentioned above.

Can you please fix this so that we can run this simply? For now I got it working.

[2016-03-21 11:30] FireFart commented on #908
@pkhadka56 please post your curl and openssl versions

[2016-03-21 11:33] pkhadka56 commented on #908
curl 7.35.0 (x86_64-pc-linux-gnu) libcurl/7.35.0 OpenSSL/1.0.1f zlib/1.2.8 libidn/1.28 librtmp/2.3

[2016-03-21 11:35] FireFart commented on #908
And whats the output of
`ruby -ropenssl -e 'puts OpenSSL::OPENSSL_VERSION'`
? Also does `curl https://data.wpscan.org/plugins.json` work?

[2016-03-21 11:38] pkhadka56 commented on #908
$ ruby -ropenssl -e 'puts OpenSSL::OPENSSL_VERSION'
OpenSSL 1.0.1f 6 Jan 2014

$ curl https://data.wpscan.org/plugins.json
FLOOD (working)

[2016-03-21 11:44] FireFart commented on #908
@pkhadka56 yould you retry the update in wpscan? Wpscan uses curl and openssl to make requests so if it works by the commands, the program should also work. Also be sure to use the latest version from master.

[2016-03-21 11:48] pkhadka56 commented on #908
Well, somehow I already solved the problem so no more issue for me, but if you guys get any other complain then developer must think about it.

Thanks for your support.

[2016-03-21 19:02] mgites commented on #917
Great!!!  Please update here when the change is pushed.  Right now the nulls are still there, so I'm assuming the work is still in progress.

Thank you for your quick response.

[2016-03-21 20:21] FireFart commented on #917
@mgites it runs once per day so changes should be live tomorrow (last export job runs at 6am)

[2016-03-22 07:57] ethicalhack3r commented on #917
Well, looks like the timing out wasn't the issue as this time the script run without timing out but we still have null values. Will have another look later on today.

[2016-03-22 11:27] ethicalhack3r commented on #917
This should be fixed now:

[code]

[2016-03-22 11:27] FireFart commented on #917
@mgites:
[code]

Hopefully it's now :)

[2016-03-22 11:27] #917 closed

[2016-03-22 23:25] robbie-berns opened #918 "Get-going problems"
Hi

New to this tool - thank you to all.

I am installing on Ubuntu 14.04. When I installed the bundle as root, which popped a warning _"Don't run Bundler as root"_

The commands won't run - is this connected to the above warning? What can I do to get it going?

TIA

[2016-03-23 11:44] pavan4information opened #919 "Unable to Run wpscan Ruby File"
![Uploading Screenshot from 2016-03-23 17:15:30.png…]()
It is showing the following errors even if i installed the

sudo aptitude install libreadline5-dev libncurses5-dev

[ERROR] cannot load such file -- readline
[TIP] Try to run 'gem install readline' or 'gem install --user-install readline'. If you still get an error, Please see README file or https://github.com/wpscanteam/wpscan
pavanvadrevu@p

[2016-03-23 11:49] ethicalhack3r commented on #919
To enable us to help you please provide:

1. Version of Ruby in use.
2. Version of WPScan in use.
3. Operating System in use.
4. Steps taken to install WPScan.
5. What have you already tried to fix the issue?
6. Did you try the solution given in the 'TIP' which pasted in your comment? ```gem install readline```

[2016-03-23 11:56] pavan4information commented on #919
I am using Ruby ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]
Version of wpscan : installed by git seems 2.9
operating system :: Ubuntu 14.04
General steps
sudo apt-get install libcurl4-openssl-dev libxml2 libxml2-dev libxslt1-dev ruby-dev build-essential libgmp-dev
git clone https://github.com/wpscanteam/wpscan.git
cd wpscan
sudo gem install bundler && bundle install --without test

aft

[2016-03-23 12:02] ethicalhack3r commented on #919
And what is the output when you try to install readline? Does it install correctly? Does it give an error?

[2016-03-23 12:36] pavan4information commented on #919
when i tried to install with
'gem install --user-install readline'. and in other manner as gem install readline'
it is showing as
ERROR:  Could not find a valid gem 'readline' (>= 0) in any repository
ERROR:  Possible alternatives: deadline, redline, deadlinez, deadlink, headliner

[2016-03-23 12:43] ethicalhack3r commented on #919
Ah! Looks like it should be ```rb-readline```.

Try ```gem install rb-readline``` and/or ```gem install --user-install rb-readline```

[2016-03-23 12:43] pavan4information commented on #919
that also i tried

[2016-03-23 12:44] ethicalhack3r commented on #919
And what was the output of that?

[2016-03-23 12:51] pavan4information commented on #919
ERROR:  While executing gem ... (Gem::FilePermissionError)
    You don't have write permissions for the /usr/local/lib/ruby/gems/2.3.0 directory.

then i tried as the root user
now there is a path issue
WARNING:  You don't have /home/pavanvadrevu/.gem/ruby/2.3.0/bin in your PATH,
	  gem executables will not run.

[2016-03-23 13:02] ethicalhack3r commented on #919
Quick search on Google: http://askubuntu.com/questions/406643/warning-you-dont-have-a-directory-in-your-path-gem-executables-will-not-run

[2016-03-23 13:08] pavan4information commented on #919
i solved that issue but setting up the path for the gem now i am again getting error with bundler
[ERROR] cannot load such file -- bundler/setup

[2016-03-23 13:09] pavan4information commented on #919
sudo gem install bundler && bundle install --without test again i am installing bundler

[2016-03-23 13:10] ethicalhack3r commented on #919
Awesome! :) All working now?

[2016-03-23 14:42] pavan4information commented on #919
Now it could not found the bundler to find that

![screenshot from 2016-03-23 20 06 25](https://cloud.githubusercontent.com/assets/17738679/13988779/77cb90d4-f133-11e5-8194-c946718eec2f.png)

/usr/local/lib/ruby/2.3.0/rubygems/dependency.rb:319:in `to_specs': Could not find 'bundler' (>= 0.a) among 5 total gem(s) (Gem::LoadError)
Checked in 'GEM_PATH=/home/pavanvadrevu/.gem', execute `gem env` for

[2016-03-23 15:25] pavan4information commented on #919
trying to execute bundler it showing another errors
/usr/local/lib/ruby/2.3.0/rubygems/dependency.rb:319:in `to_specs': Could not find 'bundler' (>= 0.a) among 5 total gem(s) (Gem::LoadError)
Checked in 'GEM_PATH=/home/pavanvadrevu/.gem', execute `gem env` for more information
	from /usr/local/lib/ruby/2.3.0/rubygems/dependency.rb:328:in `to_spec'
	from /usr/local/lib/ruby/2.3.0/rubygems/core_ext/

[2016-03-23 15:34] FireFart commented on #919
@pavan4information i suggest you use the suggested RVM install method:
https://github.com/wpscanteam/wpscan#installing-with-rvm-recommended

Using this all should work without errors

[2016-03-24 03:04] cedwardsmedia opened #920 "Feature Request: Wordlist from stdin"
Unless I have totally missed something in the docs and failed to turn up anything searching the web, it doesn't seem like WPScan supports reading a word list from `stdin`, such as one produced by `crunch`. This would make life much easier for brute-forcing WordPress passwords.

[2016-03-28 13:23] darkball opened #921 "Runing errors"
Hi. I'm trying to run wpscan.rb on Ubuntu 14.04 and here what I get:
#1. ruby version 2.2:
[code]
when trying to install missing gem:
[code]

#2. switch to ruby version 2.3:
[code]
but bundler installed already:
[code]
if I try to install bundler again, here is the result:
[code]
What I do wrong?

[2016-03-31 10:42] woooms commented on #908
I Have the same problem.. who can help.  I m using Ruby 2.3.0.

says
Unable to get https://data.wpscan.org/plugins.json (Timeout was reached)

[2016-03-31 10:45] woooms commented on #908
@pkhadka56   can you tell us ,How you fixed it?

[2016-03-31 12:06] FireFart commented on #908
@woooms could you please post the output of `ruby wpscan.rb  --update --debug-output`?

[2016-04-01 06:31] alenamagar commented on #908
Same issue here.

[!] Unable to get https://data.wpscan.org/plugins.json (Timeout was reached)

[2016-04-01 08:17] FireFart commented on #908
@alenamagar we still need an output of `ruby wpscan.rb --update --debug-output` to investigate this issue

[2016-04-01 09:08] alenamagar commented on #908
Here is the output of ruby wpscan.rb --update --debug-output

[output.txt](https://github.com/wpscanteam/wpscan/files/199290/output.txt)

[2016-04-01 09:53] FireFart commented on #908
@alenamagar @woooms it seems like a download timeout which is set to 60 by default. I pushed a change to hopefully increase this timeout (https://github.com/wpscanteam/wpscan/commit/cd68aa719ccdd58baedf16a08d2e54cff493ee58).

Could you please update from git master and try again?

[2016-04-01 10:34] pkhadka56 commented on #908
@FireFart working for me. Thanks!

[2016-04-01 10:39] FireFart commented on #908
awesome thx!

[2016-04-01 10:39] #908 closed

[2016-04-01 10:40] FireFart commented on #921
hi @darkball i suggest trying the recommended rvm installation:
https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-recommended

[2016-04-01 10:42] FireFart commented on #918
Hi @robbie-berns ,
I would try the recommended rvm install method:
https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-recommended

Also there is no need to run the commands as root if you use the RVM method

[2016-04-01 10:56] alenamagar commented on #908
@FireFart Thanks, its working now.

[2016-04-01 20:24] exploitprotocol opened #922 "Issue with progressbar"
I have integrated Wpscan with [PentestBox](https://pentestbox.com) and normal enumeration function works really well.

One of PentestBox user reported issue with bruteforcer, and it seem's that there is some issue with progressbar gem. Below is output after Bruteforcer started. Test wordpress installation had no WAF, and has only 'admin' as a user. Also this was run as administrator on windows.

[

[2016-04-01 20:28] ethicalhack3r commented on #922
Hey! Just to clarify this is running natively on Windows? (not within a nix emulator like cygwin)

[2016-04-01 20:30] exploitprotocol commented on #922
Yeah this is running natively. PentestBox is designed to provide all necessary dependencies and required gems.

[2016-04-01 20:36] ethicalhack3r commented on #922
I suspect it might be to do with this command we run to find the number of lines in the wordlist which we then use to calculate the progress:

```findstr /R /N "^" $filename | find /C ":"```

Could you manually run that command and paste the output please? Might give us a clue as to why it is not working as expected. (replace ```$filrname``` with the wordlist file path and name)

[2016-04-01 20:54] exploitprotocol commented on #922
I just did that. Irrespective of the file name provided, it list out all the files which are there in C: drive.

below is sample output.

/C/PentestBox/base/jdk1.8.0_74/lib/missioncontrol/plugins/org.eclipse.ui.themes_1.0.1.v20140819-1717/images/macTSFrame.png
/C/PentestBox/base/jdk1.8.0_74/lib/missioncontrol/plugins/org.eclipse.ui.themes_1.0.1.v20140819-1717/images/win7.png
/C/PentestBox/base/jdk

[2016-04-01 20:56] ethicalhack3r commented on #922
Thanks! Looks like it is an issue with that command. I'll fire up a Windows box and do some poking around to see if I can solve.

[2016-04-01 21:08] ethicalhack3r commented on #922
Hmm... it works for me on Windows 7 Ultimate:

[code]

What version of Windows are you running?

[2016-04-01 21:29] FireFart commented on #922
@ethicalhack3r @exploitprotocol it looks like the `/C` switch from `find` gets interpreted as the C drive with a strange `/C/...` notation.

[2016-04-01 21:40] FireFart commented on #922
@exploitprotocol is there maybe another find binary in your %PATH%? if you compiled a unix find somehow for windows the output would make sense to me...

[2016-04-01 21:48] exploitprotocol commented on #922
I was also testing this on Windows 7. In the case of cmd directly it is working .
![](http://i.imgur.com/FHKfywd.png)
Actually, there is **find** binary in PortableGit and Ruby Development Kit which are inside windows.
@FireFart Yeah, you are right those binary are included in pentestbox PATH and binaries are of linux compiled for windows.

So, i used the same command with windows default **find**

[2016-04-01 21:51] FireFart commented on #922
@exploitprotocol in this case it's a messed up path variable in pentestbox. The problem is the unix find binary is called the same way as the windows binary.
Can you please try piping the first command into `find.exe` directly without the system32 path? if `find.exe` instead of `find` is working we could change it

[2016-04-01 21:52] FireFart commented on #922
so `findstr.exe /R /N "^" pass.lst | find.exe /C ":"`

[2016-04-01 22:12] ethicalhack3r commented on #922
Looking forward to Bash on Windows sometime in the next few months, should allow us to use the same command (```wc -l wordlist.txt```) for *nix as we do for Windows :)

[2016-04-01 22:17] exploitprotocol commented on #922
@FireFart Nope that isn't working.

For now i have made changes in wpscan repo which pentestbox uses and it is working fine now on windows.

![](http://i.imgur.com/vKKP0vQ.png)

https://github.com/PentestBox/wpscan/commit/09f42441fd6d21022c6e53164485763764f0f794

Thanks @ethicalhack3r  @FireFart  for support :)

[2016-04-01 22:23] exploitprotocol commented on #922
@ethicalhack3r Btw PentestBox have the **binary**, so changing to wc  won't be a problem for PentestBox users.

[2016-04-01 22:24] ethicalhack3r commented on #922
Maybe we could use ```%windir```?

[code]

[2016-04-01 22:31] FireFart commented on #922
@ethicalhack3r we could but I have no idea if the binaries are always in this folder (this is why we have the path variable :) ). But I think this corner case is only fixable by specifying full paths to find.exe :(

[2016-04-01 22:35] exploitprotocol commented on #922
%windir% is working fine.
/lib/common_helper.rb should be like this
`%windir%\\system32\\findstr /R /N "^" #{file.shellescape} | %windir%\system32\\find /C ":"`.split[0].to_i
@FireFart those binaries are always there.

Be default, find binary is in C:/windows/system32 and c:/windows/SysWow64. so changing to system32 would be better to support both 32 bit and 64 bit users

[2016-04-02 05:24] sn1p3r403 opened #923 "problem with run WPSCAN ..."
hi guys
this is my terminal

_**root@0x:~/wpscan#**_ wpscan
[ERROR] cannot load such file -- ffi_c
[TIP] Try to run 'gem install ffi_c' or 'gem install --user-install ffi_c'. If you still get an error, Please see README file or https://github.com/wpscanteam/wpscan
**_root@0x:~/wpscan#_** gem install ffi_c
ERROR:  Could not find a valid gem 'ffi_c' (>= 0) in any repository
ERROR:  Possible alternat

[2016-04-02 21:40] AliBawazeEer opened #924 "2.1.8 required to run wpscan"
Hi Team ,

i am facing this issue Ruby >= 2.1.8 required to run wpscan (You have 1.9.3)

anyone can advise , how can i run wpscan

[2016-04-02 22:15] ethicalhack3r commented on #924
Please provide the command youre running, with url redacted, and the output
please.
On 2 Apr 2016 11:40 p.m., "AliBawazeEer" <notifications@github.com> wrote:

[2016-04-02 22:25] markbosky commented on #924
Try using RVM (Ruby version manager).  What OS are you running? I experienced this on OS X

[2016-04-02 22:35] FireFart commented on #924
@AliBawazeEer as the error message says, your installed ruby version is too old. Try using rvm (https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-recommended)

[2016-04-04 01:14] mgites opened #925 "https://data.wpscan.org/plugins.json not stating any plugins as popular"
If you look at the data from https://data.wpscan.org/plugins.json  you'll find that there are no plugins that are stated as popular. i.e. the are all false for that attribute -- "popular":false

[2016-04-04 05:18] FireFart commented on #925
@mgites thanks for reporting this issue i will have a look

[2016-04-04 07:14] ethicalhack3r commented on #923
Are you on Windows? A quick search on Google revealed this: https://github.com/ffi/ffi/issues/368

That suggests to run:

```gem install ffi --platform=ruby```

Does this fix your issue?

[2016-04-04 10:19] FireFart commented on #923
the gem you need to install is `ffi`. So you need a `gem install ffi`

[2016-04-04 10:56] sn1p3r403 commented on #923
still have the issue

[2016-04-04 11:18] sn1p3r403 commented on #923
this is what my terminal look like :

## **root@0x**:~# gem install ffi --platform=ruby
Building native extensions.  This could take a while...
ERROR:  Error installing ffi:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/ffi-1.9.10/ext/ffi_c
/usr/bin/ruby2.3 -r ./siteconf20160404-2198-1c5rzaa.rb extconf.rb
mkmf.rb can't find header files for ruby at

[2016-04-04 11:29] FireFart commented on #923
You need to install the dependencies needed for your distribution:
https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-on-ubuntu

[2016-04-04 14:38] FireFart commented on #925
@mgites data should now be exported correctly. Thanks for reporting!

[code]

[2016-04-04 14:38] #925 closed

[2016-04-05 12:07] pavan4information commented on #919
When i am following the above guide lines i am getting the following error
![screenshot from 2016-04-05 17 35 43](https://cloud.githubusercontent.com/assets/17738679/14281137/ef39e26c-fb54-11e5-82f9-59b6dfbae8e7.png)
and if i am generally executing the ruby
i am getting the following error
![screenshot from 2016-04-05 17 37 20](https://cloud.githubusercontent.com/assets/17738679/14281171/1518fab8-

[2016-04-05 12:09] pavan4information commented on #919
please resolve this issue as early possible bro ...
i am waiting from a long time and trying other things doesnt making to work

[2016-04-05 12:09] ethicalhack3r commented on #919
Run the suggested command in the output:

```gpg --keyserver ....```

[2016-04-05 12:11] ethicalhack3r commented on #919
This issue is an implementation issue not a WPScan issue. You need to learn how to debug problems by yourself, starting by reading error output.

[2016-04-05 12:11] #919 closed

[2016-04-05 12:13] pavan4information commented on #919
i tried that also it is giving the following output
gpg: requesting key D39DC0E3 from hkp server keys.gnupg.net
gpgkeys: key 409B6B1796C275462A1703113804BB82D39DC0E3 can't be retrieved
gpg: no valid OpenPGP data found.
gpg: Total number processed: 0

[2016-04-05 12:28] pavan4information commented on #919
Thanks for the Things Finally Chased.....

[2016-04-05 14:00] AliBawazeEer commented on #924
not working

[2016-04-05 14:14] ethicalhack3r commented on #924
"not working" is not helpful to anyone.

[2016-04-05 14:14] #924 closed

[2016-04-05 20:57] damadorPL commented on #923
also have ffi issue at windows ruby 2.3 - on 2.2 works ok

[2016-04-06 11:30] Gatzyy opened #926 "The Wordpress URL Supplied '[URL]' seems to be down."
![nucm0a9](https://cloud.githubusercontent.com/assets/18306473/14315067/10b4c206-fbf3-11e5-8084-c66cee8e0246.png)

I'm trying to test WPScan on my website and it's giving me this response, if you know how to fix it please tell me. For example when you did sqlmap and got some errors a way to fix it would be                     --random-agent if you have something similar for this it would be great.

[2016-04-06 12:06] FireFart commented on #926
@Gatzyy We currently do not support scanning sites hosted on wordpress.com

[2016-04-06 12:06] #926 closed

[2016-04-06 12:14] FireFart commented on #926
@Gatzyy I also moved the wordpress.com check to the top to make this clearer (https://github.com/wpscanteam/wpscan/commit/5386496bdc39b16d4a6e60731267afca6760f998)

[2016-04-06 12:22] Gatzyy commented on #926
okay thank you sir

[2016-04-09 09:23] humanware opened #927 "Can we install wpscan database manually?"
we can download "https://data.wpscan.org/plugins.json" from browser but its not updating from --update method. so its showing error:
Unable to get https://data.wpscan.org/plugins.json (Timeout was reached)

Is there any way that we can update database by downloading and placing somewhere?
it will be good if its possible.

[2016-04-09 09:44] ethicalhack3r commented on #927
Placing that file in the data directory should be fine.

Are you running the latest github versiom of wpscan?
On 9 Apr 2016 11:23 a.m., "Milan Bastola" <notifications@github.com> wrote:

[2016-04-09 09:56] humanware commented on #927
yes. I have using it in ubuntu latest version.

[2016-04-11 15:36] schultzen101 commented on #877
Thanks @ethicalhack3r .
I was having the same issue and it worked like a charm.
You rock!

[2016-04-15 08:28] linuxer9x opened #928 "Using wpscan list all domain wordpress on the world"
HI guys!
I have a issue.
I want to list all domain wordpress on the world. I using wpscan on Kali Linux, but wpscan only detect wordpress (detect website if this is wordpress or alart "The remote website is up, but does not seem to be running WordPress." if site not wordpress.). Now i want result's wpscan is "1"  if site is wordpress of "0" if site not wordpress.
Can you help me, or other solution

[2016-04-15 09:09] FireFart commented on #928
If you only want to get the info of millions of site if they are running wordpress or not, you are best by implementing the single checks on your own. Wpscan does a lot more checks and requests and may not fit your needs.

[2016-04-15 09:09] #928 closed

[2016-04-18 00:32] GuerrillaCoder commented on #923
I am also having this issue.  As it is a problem with ffi installing I made an issue there
https://github.com/ffi/ffi/issues/496

[2016-04-20 08:25] #927 closed

[2016-04-20 08:25] #923 closed

[2016-04-20 08:30] ethicalhack3r commented on #922
This seems like an edge case so closing for now. Can reopen if other users encounter the same issue.

[2016-04-20 08:30] #922 closed

[2016-04-20 08:31] #921 closed

[2016-04-20 08:31] #918 closed

[2016-04-20 08:32] ethicalhack3r commented on #913
Unsure what the issue was here. Assuming environment issue.

[2016-04-20 08:32] #913 closed

[2016-04-20 08:33] #903 closed

[2016-04-20 08:34] ethicalhack3r commented on #898
Thanks for the heads up. I'd probably suggest proxying WPScan through Burp or similar to add the parameter.

[2016-04-20 08:34] #898 closed

[2016-04-20 08:36] ethicalhack3r commented on #704
Quick update: We have implemented current versions and release dates to plugins (and themes?) but not WP itself yet.

[2016-04-20 08:42] ethicalhack3r commented on #704
Just remembered that we already store the WP release date in WPVULNDB but don't export it to WPScan. Looking into this now. Current WP versions would be tricky.

[2016-04-22 12:29] FireFart commented on #842
Author extraction is a pain in the a** because it's highly theme dependant. I think there is no way to extract the username with special chars in it.

[2016-04-22 12:29] #842 closed

[2016-04-25 20:33] mgites opened #930 "passive_detection version number results"
I tested wpscan on a couple of sites and it shows version numbers on certain plugins using passive_detection and no version for some others.  This wasn't strange until I did some research to figure out why it couldn't get the version data for some of the plugins that it did find. I seem to have stumbled on a perhaps interesting issue. Basically, from analyzing the passive_detection function in WpP

[2016-04-25 21:34] ethicalhack3r commented on #930
Hi! We find the information from the plugin's readme file. Has this piece of functionality caused any issues? Something you're trying to debug, or enhance we can help you with?

[2016-04-25 23:53] mgites commented on #930
I've been looking at the code to find ways to help.  My recent focus has been passive scanning.  I found, for example, that when you detect Yoast (i.e. wordpress-seo), the regex should be updated.  In line 65 here https://github.com/wpscanteam/wpscan/blob/b328dc4ff98cd2f5ea9f5dd933109df4de88a866/lib/common/collections/wp_plugins/detectable.rb
... you have:
      if body =~ /<!-- This site is optim

[2016-04-26 03:01] mgites commented on #930
Looking deeper, there seems to be overriding of to_s in Versionable:
def to_s
      item_version = self.version
      "#{@name}#{' - v' + item_version.strip if item_version}"
end

I guess i missed that clever trick.

[2016-04-26 03:06] mgites commented on #930
This thread can be closed but I do think the devs might want to look at enhancing the regex relating to Yoast that I mentioned a couple messages above.

[2016-04-26 08:15] ethicalhack3r commented on #930
If you proxy WPScan's traffic through Burp/ZAP, you should be able to see the requests to the plugin's readme file.

Thanks for the info re the WordPress SEO regex. Before we implement the change I think it would be useful to download all past versions of the plugin (can be done via SVN) and check the code which generates this HTML comment to see how it has changed. Would be a nice contribution to

[2016-04-26 13:29] raunaktamang commented on #479
how to update ruby to 2.1.9 ?

[2016-04-27 09:35] NemoOzil opened #931 "wp_versions.xml: checksums do not match"
root@kali:~/wpscan# ruby wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

[2016-04-27 10:58] ethicalhack3r commented on #931
Thanks for the report!

Seems to be working for me. Can you try again maybe? And if it doesn't work can you try with the debug flag?

```./wpscan.rb --update --debug```

[2016-04-27 11:43] tititototutu commented on #931
Hi,

I have the same issue. here are the logs

./wpscan.rb --update --verbose
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|

[2016-04-27 11:55] ethicalhack3r commented on #931
I think the issue might have been that the checksum was not updated on Amazon S3, can you try now please?

[2016-04-27 13:20] FireFart commented on #931
I think this might be caused by amazon not having invalidated all caches at this time. I added more verbose output to also print the non matching hashes https://github.com/wpscanteam/wpscan/commit/75b8c303e22ad86704a23b464f3b8ba03a9079e1

[2016-04-27 13:22] tititototutu commented on #931
Thanks for the quick reply.

always the same issue

13:45:47 root@srv: /opt/wpscan # git pull
remote: Counting objects: 5, done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 5 (delta 0), reused 0 (delta 0), pack-reused 0
Dépaquetage des objets: 100% (5/5), fait.
Depuis https://github.com/wpscanteam/wpscan
   bd7a493..75b8c30  master     -> origin/master
Mise à jour bd7a493..75b8c30

[2016-04-27 13:28] FireFart commented on #931
jeah looks like the sha512 file is not updated on amazon....currently investigating

[2016-04-27 13:32] tititototutu commented on #931
i delete the wp_versions.xml reference in /opt/wpscan/lib/common/db_updater.rb and it did the trick... ;)

[2016-04-27 13:38] FireFart commented on #931
@tititototutu it should be fixed now. The sha512 files were uploaded, but not invalidated so you were getting the cached version. Your change btw prevents you from getting the latest wp_versions file with the 4.5.1 hashes.

[2016-04-27 13:38] #931 closed

[2016-04-27 15:24] tititototutu commented on #931
everything is fine now. thanks!

[2016-04-28 19:01] ethicalhack3r commented on #704
We now show the WP release date

[2016-04-28 19:01] #704 closed

[2016-04-28 19:02] #930 closed

[2016-04-29 02:36] 1lastBr3ath opened #932 "Feature request: Mention patched & last update date"
WPScan, in case, couldn't determine version, prints all vulnerabilities, and states the version the vulnerability was fixed in.
[code]
I, often, find them *outdated*. So, if a vulnerability was patched in, say 2010, I would barely have a look at it.
So, beside printing `Fixed in` version, it would be really helpful, if you could add;
[code]
Where `Fixed on` date is the date when the patched versio

[2016-04-29 04:44] FireFart commented on #932
we alredy print an info if the version of the plugin is outdated (if it's an official wordpress plugin)

[2016-04-29 04:44] #932 closed

[2016-04-29 10:11] virus-sd opened #933 "hello"
hello guys :)
i have big problem with wpscan
i`m ve use cyborg hawk
when i run wpscan like :
ruby wpscan.rb --url www.example.com --enumerate u
i get this :
ruby: No such file or directory -- wpscan.rb (LoadError)
when i try cd /pentest/wireless/wpscan :

./wpscan.rb --url www.example.com --enumerate u
i get this
Unable to get https://raw.githubusercontent.com/wpscanteam/vulndb/master/local_vulner

[2016-04-29 10:25] ethicalhack3r commented on #933
Hi! I'm not aware of 'cyborg hawk' distribution. Although this looks like cyborg hawk is running a version of Ruby which we do not support as it has been deprecated:

[code]

I would suggest that you contact the cybord hawk guys and ask them to update ruby, or how you can do it on their distribution without messing the other tools up.

[2016-04-29 10:28] virus-sd commented on #933
i have update ruby to 2.1.9 in same folder but it still get Ruby >= 2.1.9 required to run wpscan (You have 1.9.3

so you mean cyborg is bug in wpscan tool ? sorry my english is bad

[2016-04-29 10:37] ethicalhack3r commented on #933
Try running ```ruby -v``` it will tell you the version

These linux distributions are made so that tools such as WPScan can be run by their users without their users having to install them. If they bundle the tool and the tool does not work due to their implementation, then it is an issue on their side.

[2016-04-29 10:37] #933 closed

[2016-04-29 10:39] virus-sd commented on #933
ruby -v

ruby 1.9.3p484 (2013-11-22 revision 43786) [x86_64-linux]

[2016-04-29 13:00] FireFart commented on #933
@virus-sd please either get in touch with your distro maintainer to get an supported version of ruby or use RVM https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-recommended

[2016-05-03 03:13] xydeown opened #934 "6 hours! and no working."
Ok i don't know what to do:

1.created new vps host with ruby on ubuntu 14 on digitalocean.com.
2.installed rubygems,rubydev all 2.3,curl and all others.
3.clone the wpscan
4.cd wpscan
sudo gem install bundler && bundle install --without test

ruby wpscan.rb:

[ERROR] cannot load such file -- readline
[TIP] Try to run 'gem install readline' or 'gem install --user-install readline'. If you still ge

[2016-05-03 04:16] FireFart commented on #934
Please use our recommended installation method, it works without flaws:
https://github.com/wpscanteam/wpscan#installing-with-rvm-recommended

[2016-05-03 04:16] #934 closed

[2016-05-04 20:31] FireFart opened #935 "New Release 2.9.1"
TODOS:
- [x] Update CHANGELOG.md file
- [x] statistics in CHANGELOG (see `./dev/stats.rb`, any idea how to count all vulns?)
- [x] Change WPSCAN_VERSION in file wpscan/lib/common/common_helper.rb
- [x] Change release date in file CHANGELOG.md
- [x] Change commits (git shortlog 2.9.1..master) in file CHANGELOG.md
- [x] Update data.zip
- [x] Tag / Commit / Release

After
- [x] Inform Kali - https://

[2016-05-05 17:54] exploitprotocol opened #936 "Wpscan update."
Whenever a user tries to update wpscan, in some case they are not able to update that .

Generally the error is **unable to get https://data.wpscan.org/local_vulnerable_files.xml.sha512 ..**

Can you introduce a check in wpscan which would detect if it able to download files from the above location and if not able to download then check non-https version of it.

For example, **http://data.wpscan.o

[2016-05-05 22:05] ethicalhack3r commented on #936
Hi! Thanks for your recommendations.

We do not support unencrypted HTTP for downloading the data files for security reasons. I don't think downgrading to HTTP is the best option for this case.

WPScan should run fine on Ruby 2.1.x I think. What issues are you experiencing?

[2016-05-05 22:09] exploitprotocol commented on #936
I can understand the security concern here, but still that would solve issues of many users.

I have tested wpscan with latest commits and it doesn't seems to be working with Ruby 2.1.8
![](http://i.imgur.com/c10IWJx.png)

[2016-05-05 22:13] ethicalhack3r commented on #936
Ah, yes. You should be able to change the ```MIN_RUBY_VERSION``` constant in lib/common/common_helper.rb to 2.18 to get it running. I think the best solution would be for the distribution you're using to use the latest Ruby versions though as they fix bugs and security issues, etc Maybe you can open an issue with them to encourage them to update their dependencies?

[2016-05-05 22:16] exploitprotocol commented on #936
Okay. will change that file.

Any final decision for non-https downloading of data ?

[2016-05-05 22:20] ethicalhack3r commented on #936
Yea, that's a no for that one :)

We will try to resolve any data downloading issues individually so that we can make it more robust. Or, encourage enough users to update their dependencies ;)

Thanks again for your feedback!

[2016-05-05 22:20] #936 closed

[2016-05-05 22:29] rastating opened #937 "Version range for vuln 8482"
The disclosure from Templatic on this one appears to have a typo potentially (I am currently contacting them to make them aware of this too). The latest version of the plugin (2.3.0) fixes the issue, however, they stated that version 2.1.8 and earlier is the vulnerable range, but it should be any version prior to 2.3.0 (I think).

I have been doing some testing on version 2.2.7 of the plugin and c

[2016-05-06 06:07] AbnormalDEV opened #938 "Unable to Update"
[code]
[code]

[2016-05-06 07:13] ethicalhack3r commented on #938
Thanks for the report. Your version of cURL and OpenSSL seem to be fairly up to date, so that shouldn't be an issue.

Can you tell us what OS you're running? Also, the output of ```wpscan.rb --update --debug-output```

[2016-05-06 12:01] FireFart commented on #935
https://github.com/wpscanteam/wpscan/releases/tag/2.9.1

[2016-05-06 12:21] FireFart commented on #935
Kali informed: https://bugs.kali.org/view.php?id=3281

[2016-05-06 12:46] ethicalhack3r commented on #937
Thanks for the info! Updated the vuln title to reflect your info - https://wpvulndb.com/vulnerabilities/8482

If you get a reply please let us know :)

[2016-05-06 13:06] ethicalhack3r opened #939 "Update dependencies?"
https://gemnasium.com/wpscanteam/wpscan

 typhoeus & terminal-table out of date

[2016-05-06 13:08] erwanlr commented on #939
Don't update terminal-table: https://github.com/wpscanteam/wpscan/blob/master/Gemfile#L7-L10

[2016-05-06 14:07] rastating commented on #937
@ethicalhack3r you're welcome!

I got a reply, which is:

It sounds like there are themes that come pre-packaged with it, which use 2.1.8 or below, but the plugin can be installed independently, which has versions higher available. So, it would appear everything pre 2.3.0 is vulnerable and 2.3.1 is the current latest release (but was fixed in 2.3.0).

Hope that helps!

[2016-05-06 14:14] ethicalhack3r commented on #937
Helps a lot thanks! :)

So is ```2.2.7``` the last of the ```2.2.x``` branch? So the current title is correct https://wpvulndb.com/vulnerabilities/8482 ?

[2016-05-06 14:41] rastating commented on #937
2.2.7 is the latest version I have been able to locate so far, it is possible there were some more in the 2.2.x range though

[2016-05-06 15:00] ethicalhack3r commented on #937
Cool, thanks again Rob, I'll leave it as it is until any further info comes to light.

[2016-05-06 15:00] #937 closed

[2016-05-07 09:41] blshkv commented on #935
Guys, I was doing a random check and found that there is a new version available. Please feel free to open a bug report at our tracking next time as well.

[2016-05-08 22:57] kingofhack commented on #404
Hi
I get this Error while i brute force password login
why ?
ERROR: We received an unknown response for...

[2016-05-11 09:43] suhas1294 commented on #933
Hi,

OS : Ubuntu 14.04

Ruby -v
`ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]`

When i try to execute this command :
`sudo ruby wpscan.rb --url http://www.example.com/ --wordlist /root/Desktop/list.txt --username somename --threads 50`

I am getting this error :
`Ruby >= 2.1.9 required to run wpscan (You have 1.9.3)`

can i get any solution ?

[2016-05-11 09:45] erwanlr commented on #933
and what about ```sudo ruby -v``` ?

[2016-05-11 11:02] flipmedia opened #941 "show supplied url seems to be down always"
Dear friends,
I have my company (NGO) for blinds web site is hacked and blacklisted by google . But the site works fine. But when I try to run wpscan using any command
e.g anes@sight:~/Downloads/wpscan$ ruby wpscan.rb --url http://zz.aa.bbb/about-daisy/ --enumerate

I got message as "The WordPress URL supplied 'http://zz.aa.bbb/about-daisy/' seems to be down.
" .
What I wrong with ?
Please advise

[2016-05-11 11:56] suhas1294 commented on #933
Oh ! My bad, you are right,
sudo ruby -v gives older version, Thanks for instant response, i'll look into it :)

[2016-05-11 15:26] spafax opened #942 ""WordPress version 3.5.1 identified from sitemap generator""
Upgraded 20+ sites to WP core 4.5.2.  When these sites all had 4.5.1, wpscan correctly identified the core version number.  After patching up to WP core 4.5.2 I get this:

Two other sites are "WordPress version can not be detected" but they're private sites so I can't share their URLs.

[2016-05-11 18:48] FireFart commented on #942
@spafax if you look at `http://domain.com/sitemap.xml` you can see the comment ``. Looks like the sitemap was not updated since 2013 so this yields a false positive

PS: I also removed the domain from your post to keep it private

[2016-05-11 18:48] #942 closed

[2016-05-11 20:33] spafax commented on #942
confirmed: removed sitemap.xml, wpscan correctly identifies WP core 4.5.2

[2016-05-13 16:51] Viss opened #943 "certain sites cause wpscan to stack trace"
[code]

[2016-05-13 19:18] FireFart commented on #943
@Viss Looks like this is caused by the new wordpress release date information. Will investigate

[2016-05-13 19:23] #943 closed

[2016-05-13 19:24] FireFart commented on #943
@Viss this was caused by the meta generator tag:
[code]
We identify this as a wordpress version which is not found in the JSON

[2016-05-13 20:57] izotx opened #944 "WPScan shows non - existing themes"
I run a test with ruby wpscan.rb --url xxx.com --enumerate options. It seems to work fine with couple exceptions:

1. We found 2 themes:
I actually have three themes in the wp-content folder.

2. Theme Name: basic
 |  Location:  wp-content/themes/basic/
 |  Style URL:wp-content/themes/basic/style.css

I don't have a 'Basic theme'  in my wp-content/ folder

3. Name: music
 |  Latest version: 1.5
I

[2016-05-14 21:36] solvemethod opened #945 "Wrong WP version in scan result"
I am using WordPress 4.5.2 but scan result saying that
`WordPress version 4.5 identified from advanced fingerprinting`
site address: https://solvemethod.com

[2016-05-14 21:48] FireFart commented on #945
@solvemethod can you please do an `wpscan.rb --update` and try again?

[2016-05-22 17:10] backtr4ck opened #947 "I'm getting this error. How can I fix it?"
`/usr/lib/ruby/vendor_ruby/yajl/json_gem/encoding.rb:5:in `<top (required)>': uninitialized constant Yajl::Encoder (NameError)
Did you mean?  EncodingError
	from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /usr/lib/ruby/vendor_ruby/yajl/json_gem.rb:3:in `<top (required)>'
	from /usr/lib/

[2016-05-23 04:18] backtr4ck commented on #947
nvm, solved it by doing a bundle install

[2016-05-23 04:32] #947 closed

[2016-05-23 08:27] ethicalhack3r commented on #941
You could try running ```curl -I http://zz.aa.bbb/about-daisy/``` to investigate

[2016-05-23 08:45] ethicalhack3r commented on #944
Hi @izotx

You could try using curl to see what the responses are: ```curl -I http://yoursite.com/wp-content/themes/basic/```

[2016-05-25 10:41] ethicalhack3r commented on #935
@blshkv can you confirm the URL of the Pentoo bug tracker to use? Thanks!

[2016-05-25 12:20] blshkv commented on #935
https://github.com/pentoo/pentoo-overlay/issues thanks

[2016-05-29 20:51] justinbeatz commented on #938
I have the same issue running OSX El Capitan 10.11.5 and this is the --debug-output for me:

[i] Updating the Database ...
  Trying 54.192.83.119...
Connected to data.wpscan.org (54.192.83.119) port 443 (#0)
ALPN, offering http/1.1
Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
TLSv1.2, TLS Unknown, Unknown (22):
TLSv1.2, TLS handshake, Client hello (1):
��>h����p�uNc

[2016-05-29 21:11] FireFart commented on #938
@justinbeatz looks like your client is missing a CA for amazon `(Peer certificate cannot be authenticated with given CA certificates)`

[2016-05-30 15:41] tmendo opened #948 "wrong version detected because methods called in WpVersion.find returns a bad order"
wpscan returns the wrong version because the methods function called in WpVersion.find returns the methods with a wrong order, depending on the ruby version you run.

I have wordpress 4.1.11 installed, which is easily detected through the meta generator, using wpscan 2.9.1, with an updated DB, using ruby 2.1.9p490 (2016-03-30 revision 54437) [x86_64-darwin15], installed from macports.
With this se

[2016-05-30 15:50] FireFart commented on #948
@erwanlr are you aware of this? Should we sort the find_ methods after fetching them?

[2016-05-30 16:07] ethicalhack3r commented on #948
For reference looks like this line of code https://github.com/wpscanteam/wpscan/blob/5118c68f454d28484b6862c439c37d6db12847ae/lib/common/models/wp_version/findable.rb#L15

[2016-05-30 16:09] ethicalhack3r commented on #948
Could just call them each in sequence (hardcoded order)?

[2016-05-30 16:09] tmendo commented on #948
@ethicalhack3r it is that line. My output is just a puts of the methods right before the line.

[2016-05-30 16:38] FireFart commented on #948
We should also call `methods(false)` to remove inherited methods

[2016-05-31 13:28] FireFart commented on #948
@tmendo would you mind testing this patch against your target? https://github.com/wpscanteam/wpscan/pull/949

[2016-06-01 10:29] tmendo commented on #948
@FireFart works fine with both ruby version:
[+] WordPress version 4.1.11 identified from meta generator, readme, links opml

Works fine also against a 4.2 ([+] WordPress version 4.2 (Released on 2015-04-23) identified from meta generator, advanced fingerprinting, readme, links opml)

[2016-06-01 10:31] tmendo commented on #948
btw, against mendo.pt it does not work and reports that seems to be down, but that also happens with the master branch. Kinda normal not detecting the WP version since I have locked down most version indicators, but the site is not down.

[2016-06-01 10:38] FireFart commented on #948
@tmendo works from my machine with master:
[code]

[2016-06-01 10:57] tmendo commented on #948
@FireFart right, I get host down from two different OS X, but when running from a two different linux (one being a container within the OS X) it works fine. I will investigate this further and report back in a new issue, since this does not seem to related to this issue.

[2016-06-01 11:05] FireFart commented on #948
@tmendo seems to be an issue with OSX and openssl:
[code]

[2016-06-02 09:05] ethicalhack3r commented on #948
Merged the pull request, should be fixed now. Thank you very much for the report! :)

[2016-06-02 09:05] #948 closed

[2016-06-02 09:05] ethicalhack3r commented on #945
Closing due to lack of response.

[2016-06-02 09:05] #945 closed

[2016-06-02 09:05] ethicalhack3r commented on #944
Closing due to lack of response.

[2016-06-02 09:05] #944 closed

[2016-06-02 09:06] ethicalhack3r commented on #941
Closing due to lack of response.

[2016-06-02 09:06] #941 closed

[2016-06-02 09:06] #939 closed

[2016-06-02 09:06] #938 closed

[2016-06-02 09:06] #935 closed

[2016-06-03 15:34] spafax commented on #854
Some paid-for plugins that don't participate in the wordpress plugin repository ecosystem don't even bother with a readme.txt or a changelog.txt.  I ended up explicitly stating readme.txt just so I wouldn't have managers waving wpscan reports at me.  It's bad behaviour hoping to compensate for someone else's bad behaviour. I mention it here because this isn't the first time I looked for a solution

[2016-06-07 14:28] ethicalhack3r commented on #902
Closing as I don't think there's anything to be done here

[2016-06-07 14:28] #902 closed

[2016-06-08 08:47] mcdave92 opened #951 "Peer certificate cannot be authenticated with given CA certificates when trying to update wpscan"
hello
i am new to wpscan and libcurl.dll after successfully installing wpscan on windows, i get this error whiletrying to update wpscan.

c:\wpscan>ruby wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / _

[2016-06-08 08:50] ethicalhack3r commented on #951
A quick Google search for ```"Peer certificate cannot be authenticated with given CA certificates"``` shows that you may need to update your version of cURL to ensure it has the necessary CA certificate.

[2016-06-08 08:57] mcdave92 commented on #951
yes but i am using libcurl.dll for the ruby, and i guess i downloaded the latest version with ssl support from http://www.paehl.com/open_source/?CURL_7.49.1&PHPSESSID=596861803689349af4db89dd5cb967be. and am just confused.

[2016-06-08 09:28] ethicalhack3r commented on #951
That's not the official cURL website, I would recommend you only download
from the official site - https://curl.haxx.se/download.html

This is my best guess of your environment -
https://curl.haxx.se/dlwiz/?type=*&os=Win64&flav=-&ver=*&cpu=x86_64 - you
probably want to go through the download wizard yourself.

On Wed, Jun 8, 2016 at 10:57 AM, mcdave92 <notifications@github.com> wrote:

[2016-06-08 09:47] mcdave92 commented on #951
Thank you but is there a way i can link curl and ruby in other to work with wpscan on windows 10 ?

[2016-06-10 08:08] ethicalhack3r opened #952 "Output enumeration findings as they are found"
Currently, when enumeration (plugins, themes, etc) has completed we output the findings. This method is fine when only enumerating themes, or vulnerable plugins, as they don't take much time. However, when enumerating all plugins, this is more of an issue as it takes much longer. For example, there is more chance that someone manually blocks you if they notice you. This would then output nothing a

[2016-06-10 18:56] lukBarros opened #953 "outputs in other languages"
there plans to translate the outputs in other languages ​​?

[2016-06-11 00:45] cafebo commented on #759
Run cammand gem install bundler && bundle install and notice. if you see an error siminal :

An error occurred while installing nokogiri (1.6.8), and Bundler cannot
continue.
Make sure that `gem install nokogiri -v '1.6.8'` succeeds before bundling.
ro

You need install package missing: gem install nokogiri -v '1.6.8'
and so on

[2016-06-11 01:38] gszathmari opened #954 "[!] undefined method `[]' for nil:NilClass"
I am trying to scan a site and WPScan crashes as the following:

[code]

[2016-06-11 12:50] ethicalhack3r commented on #954
Looks like your version of the ```terminal-table``` gem might be outdated. Try updating your gems with ```bundle update``` within the WPScan directory. If that does not fix the issue, please show the version of ```terminal-table``` you have installed by running ```gem list | grep terminal-table``` in the WPScan directory.

[2016-06-11 16:16] gszathmari commented on #954
Hmm I'm using the Kali package on the rolling release

Regards,
Gabor

[2016-06-11 22:21] mcdave92 commented on #951
Thanks is working ok now . am closing

[2016-06-11 22:21] #951 closed

[2016-06-12 08:19] FireFart commented on #954
Duplicate issue from #943. This is a bug in the last release caused by some crappy plugins. We will release a new version soon, in the meantime you can apply the fix manually if you like https://github.com/wpscanteam/wpscan/commit/5118c68f454d28484b6862c439c37d6db12847ae

[2016-06-12 08:19] #954 closed

[2016-06-12 09:47] matiasw opened #955 "cannot load such file -- yajl/json_gem"
Hi,
I installed wpscan on Debian according to the instructions for that platform. However, when trying to run `ruby wpscan.rb`, I get `[ERROR] cannot load such file -- yajl/json_gem`.
`bundle install --without test --path vendor/bundle` in the wpscan dir says `Using yajl-ruby 1.2.1`.

[2016-06-13 09:11] ethicalhack3r opened #956 "New Release 2.9.2"
Release mainly to address https://github.com/wpscanteam/wpscan/issues/943 but there have also been some other updates/bug fixes.

TODOS:
- [x] Update CHANGELOG.md file
- [x] statistics in CHANGELOG (see `./dev/stats.rb`, any idea how to count all vulns?)
- [x] Change WPSCAN_VERSION in file wpscan/lib/common/common_helper.rb
- [x] Change release date in file CHANGELOG.md
- [x] Change commits (git s

[2016-06-13 10:49] FireFart commented on #956
I would wait a few days. We are currently having a high traffic load on amazon which costs us a lot of money. Maybe we need to switch back the urls. I activated logging and need to parse the scripts to get an idea of whats going on.

[2016-06-13 11:21] ethicalhack3r commented on #956
👍

[2016-06-13 17:21] Sinderella opened #957 "Invalid byte sequence in UTF-8"
WPScan version:
[code]

Ruby version:
[code]

Trace:
[code]

I use it on clean install Kali. I think the problem is related to #892.

[2016-06-13 21:34] FireFart commented on #957
@Sinderella would you like to share the url you scanned in private to team [at] wpscan.org so we can investigate? Thanks!

[2016-06-13 21:37] Sinderella commented on #957
Sent!

[2016-06-13 21:42] FireFart commented on #957
Thanks I'm able to reproduce the issue locally

[2016-06-14 01:30] FireFart commented on #957
@Sinderella thx I've pushed a fix to the master branch for this one.

[2016-06-14 01:30] #957 closed

[2016-06-21 12:20] sunilsong opened #958 "wpscan --update (checksums do not match)"
themes.json: checksums do not match (local: c87e53e4888d734ea98c5987f95fe1a26725ccdd42d97b86172d2b116643bc753910e378f5e5d0de64034ef27ff90b9d026602c8fbd477260e83d33ce4915590 remote: 046df8e68d1843aadb1134e3a0ffbe48e0348d36a683a615c92d75eb66fddd5e09be11946919375d5f5e99a290719a9860859e2bf47d6b35c432ddaeb4a4e6af)
I am using ruby version 2.3.1.

[2016-06-21 12:23] FireFart commented on #958
[code]

We switched to another CDN yesterday I will investigate if there was an error on cache invalidation

[2016-06-21 12:28] sunilsong commented on #958
I got :
$ curl -s data.wpscan.org/themes.json | sha512sum
c87e53e4888d734ea98c5987f95fe1a26725ccdd42d97b86172d2b116643bc753910e378f5e5d0de64034ef27ff90b9d026602c8fbd477260e83d33ce4915590  -
$ curl data.wpscan.org/themes.json.sha512
046df8e68d1843aadb1134e3a0ffbe48e0348d36a683a615c92d75eb66fddd5e09be11946919375d5f5e99a290719a9860859e2bf47d6b35c432ddaeb4a4e6af

[2016-06-21 12:30] tjankov opened #959 "Update fails, plugins.json checksum"
Hi.

I cloned wpscan on ubuntu, bundle installed, trying to update database.
Im receiving checksum errors for plugins.json.

Here+s the --verbose output

[code]

[2016-06-21 12:47] ethicalhack3r commented on #958
OK for me in France:

[code]

[2016-06-21 12:48] ethicalhack3r commented on #959
This is being tracked here https://github.com/wpscanteam/wpscan/issues/958

Please use that thread to track this issue.

[2016-06-21 12:48] #959 closed

[2016-06-21 13:50] tjankov commented on #959
That issue is closed..
Whats there to track?
Tell me how to fix the darn thing.

[2016-06-21 13:52] tjankov commented on #958
Is there a workaround until its resolved?

[2016-06-21 13:54] ethicalhack3r commented on #959
No. That issue is open. This issue is closed.

The details of the issue. Errors, configurations, potential fixes.

We're working on it. But please feel free to go use something else if you're too impatient.

[2016-06-21 14:05] FireFart commented on #958
@sunilsong can you please try again? I manually invalidated the cache, let's see if this resolves this issue

[2016-06-21 14:06] tjankov commented on #958
Issue with plugins.json still here.

[2016-06-21 14:07] FireFart commented on #958
because I only invalidated themes.json for now so we can investigate

[2016-06-21 14:15] sunilsong commented on #958
Great !! It worked for me now. Thank you !!

[2016-06-21 14:35] FireFart commented on #958
@tjankov can you please try again?

[2016-06-21 15:30] audayan opened #960 "Wordpress URL supplied seems to be down -Wpscan on Kali Linux"
Hi,
I am trying to run wpscan -u url on Kali Linux.But everytime I get an error message saying 'Wordpress URL supplied seems to be down' when the URL is up and running on the server .
Please help.
Thank you

[2016-06-21 16:53] tjankov commented on #958
Worked now.

[2016-06-22 07:16] FireFart commented on #958
@tjankov @sunilsong new day, new data files. Can you please try again? I think I forgot to restart a process on the server when I deployed the cache invalidation changes

[2016-06-22 12:36] Stumpftopf commented on #958
@FireFart Still not working. :-(
`
themes.json: checksums do not match (local: 0b769da7c48759e5a9e03462b0b76e50806cb00fba445bfa6735c380a78a7ecd0f2b60c65e3018b5c522271620c43408e2f5e343d3544d64427d2fd1755fc52c remote: 046df8e68d1843aadb1134e3a0ffbe48e0348d36a683a615c92d75eb66fddd5e09be11946919375d5f5e99a290719a9860859e2bf47d6b35c432ddaeb4a4e6af)
`

[2016-06-23 09:56] thaomarky opened #961 "Error Updating Database"
Hello support!

I'm a newbie using WpScan.
Today, when I run ruby wpscan.rb --update, it's say:

And I can't check any website...

Can you tell me how to fix it?

tks so much!

[2016-06-23 10:13] ethicalhack3r commented on #961
This issue is being tracked here https://github.com/wpscanteam/wpscan/issues/958

While we fix the issue you can tell wpscan not to update the databases:

```[?] Do you want to update now? [Y]es [N]o [A]bort, default: [N]```

enter ```n```

[2016-06-23 10:13] #961 closed

[2016-06-23 10:15] ethicalhack3r commented on #960
can you give us the output of ```curl http://www.yoursite.com```, swap ```http://www.yoursite.com``` for the site you actually want to scan. Feel free to remove any identifying information from the output.

[2016-06-23 11:16] thaomarky commented on #961
When I enter N, it's say:

[2016-06-23 11:25] FireFart commented on #961
@thaomarky just extract data.zip from the same folder

[2016-06-23 11:29] thaomarky commented on #961
![screenshot from 2016-06-23 18-28-44](https://cloud.githubusercontent.com/assets/20107702/16301602/60c91944-3970-11e6-9fcd-eee4de142566.png)

I  have extrat data

[2016-06-23 12:31] FireFart commented on #961
@thaomarky if you know say "no" the scan should start correctly

[2016-06-23 13:47] emiliomg commented on #958
Same problem here:

[code]

[2016-06-23 14:00] FireFart commented on #958
@emiliomg can you please try again?

[2016-06-23 14:21] emiliomg commented on #958
@FireFart Success, even with a freshly cloned wpscan!

[code]

[2016-06-23 14:24] FireFart commented on #958
@tjankov @sunilsong are you guys still getting errors?

[2016-06-23 18:54] sunilsong commented on #958
Working fine for me.

[2016-06-24 01:22] thaomarky commented on #961
okay. I've reinstall and extract data.zip and it start for me!

tks so much!

[2016-06-24 01:42] AbnormalDEV commented on #938
[i] Updating the Database ...
Hostname was NOT found in DNS cache
Adding handle: conn: 0x3d960f0
Adding handle: send: 0
Adding handle: recv: 0
Curl_addHandleToPipeline: length: 1
- Conn 0 (0x3d960f0) send_pipe: 1, recv_pipe: 0
  Trying 104.27.141.108...
Connected to data.wpscan.org (104.27.141.108) port 443 (#0)
error setting certificate verify locations:
  CAfile: C:\PentestBox\base\curl\bin\ca-b

[2016-06-24 07:10] FireFart commented on #938
@AbnormalDEV it's a problem on your machine. You need to trust the certificate and support SNI. Also Windows support is only experimental at this time.

[2016-06-24 11:30] digininja opened #962 "invalid proxies are ignored"
If you specify a proxy with --proxy a.a.a.a and the proxy IP is invalid then it is ignored and connections are made direct.

[2016-06-24 11:36] ethicalhack3r commented on #962
It should try to use the proxy then fail at the network layer? See output below. Is this not what you're seeing?

[code]

[2016-06-24 11:49] digininja commented on #962
OK, my mistake, the network I'm on seems to be responding to port 8080 on
all IPs in some odd day so an invalid IP actually becomes valid

On Fri, 24 Jun 2016 at 12:36 Ryan Dewhurst <notifications@github.com> wrote:

[2016-06-24 11:49] #962 closed

[2016-06-24 13:27] YasinGS opened #963 "Wordpress URL seems to be down"
Hi everybody,
I don't know why i've got this issue but i look for the web but i can't find solution.
When i want to scan WordPress site with Wpscan using kali linux i have this error : "Wordpress URL seems to be down www.url.com"
Thanks

[2016-06-24 13:34] ethicalhack3r commented on #963
Can you connect to www.url.com from curl?

```$ curl www.url.com```

The site could have a WAF or similar security protection which is actively blocking you. You may have a typo in the URL.

[2016-06-24 13:35] YasinGS commented on #963
I'm glad you answered as fast but curl with kali ? i need to install it ?

[2016-06-24 13:39] ethicalhack3r commented on #963
Try and you'll find out ;)

[2016-06-24 13:41] YasinGS commented on #963
i'm not at my home, i'll do when i get home
Thanks again

[2016-06-24 17:24] YasinGS commented on #963
html>

<html lang="fr-FR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title> | On Analyse , Vous Encaissez</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="https://epronosfr.com/xmlrpc.php">

	<script type="text/javascript">
  WebFontConfig = {"google":{"families":["Merriweather:bi:latin,latin-ext","Exo+2:r,i,b,bi:l

[2016-06-24 17:26] YasinGS commented on #963
i have this when i do curl

[2016-06-24 17:28] ethicalhack3r commented on #963
Deleted the output as it was taking up the whole thread.

So it looks like your machine can send a HTTP request and the server will respond.

I suspect that it may be blocking WPScan's user agent (common practice by security plugins, WAFs, etc).

Try running WPScan with the ```--random-agent``` option.

[2016-06-24 17:32] YasinGS commented on #963
i do wpscan www.url.com --random-agent ?
it's you who have delete the post ? thanks
i have an other question, when i install with kali linux i do sudo apt-get... or apt-get ?

[2016-06-24 18:05] YasinGS commented on #963
thanks, thanks and thanks, it work with --random-agent :)
Else there are not protection ?

[2016-06-24 19:18] FireFart commented on #963
I changed the text to reflect this option:
https://github.com/wpscanteam/wpscan/commit/0f3f9cac33b11a16603b98b9e47684518a160a18

[2016-06-24 19:18] #963 closed

[2016-06-25 17:31] Fantador commented on #933
Os Linux mint 17.3
How can I upgrade ruby to 2.1.9 to use your awesome tool
Need help!

[2016-06-25 19:36] jcabasc commented on #876
@dylanjhunt came 6 months later, and still works! Thanks man, really appreciate it.

[2016-06-26 05:39] CoyoteSec commented on #960
I'm having the same problem. On Kali, fully updated, using the builtin wpscan install.  No matter what url I put in, I get the "Seems to be down." I can visit the site in the browser. Curl and wget download the site immediately just fine. I've tried the --connect-timeout 30 --connect-request 30 trick and that hasnt worked.

**Current Versions:**
`# cat /proc/version`
Linux version 4.6.0-kali1-amd6

[2016-06-26 08:37] FireFart commented on #960
@CoyoteSec try the `--random-agent` option

[2016-06-26 12:45] CoyoteSec commented on #960
That worked!

I apologize. I had seen that suggestion before and had not tried it. You shouldn't have to give basic usage help on githib :-/

Thank you though!

[2016-06-26 21:11] #960 closed

[2016-06-27 04:19] tjankov commented on #958
Was fixed for me when @FireFart (?) invalidated cache 6 days ago?

[2016-06-27 11:39] FireFart commented on #956
Changes:
https://github.com/wpscanteam/wpscan/compare/2.9.1...master

[2016-06-27 14:08] FireFart commented on #956
Updated the changelog (need to change release date): https://github.com/wpscanteam/wpscan/blob/master/CHANGELOG.md

[2016-07-04 10:07] digininja opened #964 "stack trace on site down"
I don't know what caused the problem as the site was still up when I checked straight after this happened. The run seemed to recover enough to close properly as you can see from the last line but I don't think it should have dumped the stack trace in the middle of the output.

Running the latest from Github with fully updated plugins.

[code]

[2016-07-04 11:01] digininja commented on #964
Gone down again on the same site but with a different scan type

[code]

[2016-07-04 11:06] ethicalhack3r commented on #964
Could the site be not responding to some requests due to load (flakey server)? It might be worth decreasing the number of threads WPScan uses, I think the default is 10. Option is ```--threads```

[2016-07-04 11:08] digininja commented on #964
Its more the fact you are crashing out in such a messy way that I'm reporting. Trying with a single thread now though.

[2016-07-04 11:11] ethicalhack3r commented on #964
Good point, we should probably not show stack traces for this particular error as the information is not very useful here

[2016-07-04 11:16] digininja commented on #964
what type of retry mechanism do you have? I hit the site with curl straight after the failure and it replied so if wpscan had retried a couple of times it would probably have been able to continue

[2016-07-04 11:16] digininja commented on #964
And single threading worked for themes, trying plugins now.

[2016-07-04 11:37] ethicalhack3r commented on #964
You could try proxy through Burp, then you could see if/when the server doesn't respond

[2016-07-04 11:37] digininja commented on #964
Single thread worked on plugins as well. Dodgy site

[2016-07-04 11:38] digininja commented on #964
might give the proxy a try later and see.

[2016-07-04 16:24] tjankov commented on #959
Okay, you win. I deleted the comment :)

[2016-07-09 02:07] engomerfarooq opened #965 "Server error try reducing the number of threads (Wpsacn)"
Hello everyone,
i have got an issue with my wpscan. when ever i type to do a wordlist attack on a website then it gives me the following issue :  ( server error try reducing the number of threads )
now i don't know what is the problem .. & i tried like this :

wpscan.rb --url www.example.com --wordlist darkc0de.lst --threads 50

but nothing is working Please help me

[2016-07-09 02:56] timvand commented on #837
GemFile needs to be renamed to Gemfile.

Thus the following error;
Could not locate Gemfile

[2016-07-09 07:06] ethicalhack3r commented on #965
Try with a much lower number of threads. 5 for example
On 9 Jul 2016 4:07 a.m., "engomerfarooq" <notifications@github.com> wrote:

[2016-07-09 09:49] engomerfarooq commented on #965
I tried from 1 to 50 but it didn't worked

[2016-07-09 09:59] FireFart commented on #965
@engomerfarooq you can try with `--random-agent` or `--debug-output` and inspect the output. There is most likely some plugin or server config blocking your requests

[2016-07-09 11:16] engomerfarooq commented on #965
![capture2](https://cloud.githubusercontent.com/assets/20364637/16707674/602c3eb2-45f0-11e6-96e5-b4ca881629f5.JPG)

I wrote like this but still it is giving me the same problem in both cases
![capture](https://cloud.githubusercontent.com/assets/20364637/16707677/79a59e74-45f0-11e6-9fe5-52508897fa5d.JPG)

[2016-07-11 06:43] ivipuls commented on #754
prolem persist in v2.6

[2016-07-11 10:00] Hello420 commented on #375
![screenshot from 2016-07-10 06-17-10](https://cloud.githubusercontent.com/assets/20380708/16726902/97f55ee0-472c-11e6-94dc-7bf9e0e66fcf.png)
Any one pls? it's been 4 days tried many fix but still i'm in plob.

[2016-07-18 08:21] mashedpotatoh opened #966 "Wordlist File not found."
Trying to check out the bruteforce feature but having the same error even though the file is available when I go to the file directory.

Screenshot: http://prntscr.com/bu9oy7

[2016-07-19 06:57] l3msh0 opened #967 "checksums do not match (theme.json)"
The problem same as #958 is happening.

[code]

I have 6 servers running WPscan but only one server runs into this problem.
I guess some CDN edge servers might return old cache.

[2016-07-19 07:00] l3msh0 commented on #967
Most of my servers get valid checksum.

[code]

but one server gets different response.

[code]

[2016-07-19 09:14] ethicalhack3r commented on #967
Can I ask what country the server is that gets a different checksum? Is it in a different country than the other servers?

Also, why do you have WPScan running on 6 different servers? If you are using WPScan commercially you need to purchase a commercial license.

[2016-07-19 22:09] l3msh0 commented on #967
The server which gets wrong checksum is placed at Singapore and the others are at Francisco.
All of them are running on [DigitalOcean](https://www.digitalocean.com/).
The problem seems to continue for now.

We are using WPScan on our security scan service. Of course we've bought a commercial license this month (Walti, Inc. you know 😄 ).

[2016-07-20 06:46] FireFart commented on #967
@l3msh0 we currently have an open support case open at cloudflare regarding the caching issues.

Could you please post the output of
data.wpscan.org/cdn-cgi/trace
?

Thanks!

[2016-07-20 06:47] FireFart commented on #967
@l3msh0 of course you need to call the URL from the server having the caching issue.

[2016-07-20 07:00] l3msh0 commented on #967
@FireFart

Thank you for taking care of this matter.
Here is an ouput of the response.

[code]
Currently theme.json has been refreshed, however, plugin.json seems to be broken.

[code]

[2016-07-20 07:30] FireFart commented on #967
@l3msh0 could you also please post the output of
[code]
and
[code]

so we can see, which file was not purged from the cache?

Current value should be `21b9e91faf217a366553c2e911ce5efdc34f8191ba3c2cd9b1614d9ae2515b2070c142958fec98c8a1002342b0dea8968a3a9142dabf715bc0e770d1282429ac`

[2016-07-20 08:30] l3msh0 commented on #967
@FireFart

[code]

[2016-07-20 16:21] vl23 commented on #105
hi i've got this warning when i try to use wpscan can you help ?
The remote website is up, but does not seem to be running WordPress.

[2016-07-20 16:27] ethicalhack3r commented on #105
Well is it?

[2016-07-20 19:10] attackercodeind commented on #967
@FireFart how to fix this on your tools ??

plugins.json: checksums do not match (local: 51b7aaeef00e4409157da221a97bc2636f73b06b9a58277e78b958fb14f8d348f57f3e2119bba28133900cf991a63e695c7bf8400c5b16c5c8301b084939a36b remote: 21b9e91faf217a366553c2e911ce5efdc34f8191ba3c2cd9b1614d9ae2515b2070c142958fec98c8a1002342b0dea8968a3a9142dabf715bc0e770d1282429ac)

[2016-07-20 19:22] vl23 commented on #105
can i send the link ? Yes it is , but i tried on another wp website it works  why it didn't on  work my specifical  web site.? Can it be related server ?

[2016-07-20 19:33] ethicalhack3r commented on #105
Can send the link to team@wpscan.org

[2016-07-20 20:40] vl23 commented on #105
I've sent it.

[2016-07-21 11:26] FireFart commented on #105
@vl23 the website responds with a special page when the `Accept: */*` header is included. You could try removing the header with a proxy or smth.

PS: The header is totally fine https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

[2016-07-21 19:13] vl23 commented on #105
I'll try thank you so much.

[2016-07-21 19:28] FireFart commented on #105
@vl23 if you update to the latest git version of wpscan you can run
[code]
to scan this site

[2016-07-21 23:54] vl23 commented on #105
Wpscan version is 2.8 , and i've got this [!] unrecognized option `--disable-referer'

[2016-07-22 04:37] FireFart commented on #105
@vl23 as said before you need to get the latest version from github. You can look here for details: https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-recommended

[2016-07-23 22:16] ovizii opened #968 "RVM installation instructions are faulty"
This step doesn't work as the directories do not exist:
`source ~/.rvm/scripts/rvm`

this step doesn't work as it seems rvm isn't in the path:
`rvm install 2.3.1`
so I used the full path:
`/usr/local/rvm/bin/rvm install 2.3.1`

the next step gives me the following output:
`/usr/local/rvm/bin/rvm use 2.3.1 --default`

=> `RVM is not a function, selecting rubies with 'rvm use ...' will not work.

Yo

[2016-07-23 22:25] ovizii commented on #968
oh, and I only went through those instructions because the DEbian instructions ended up with:
`Ruby >= 2.1.9 required to run wpscan (You have 2.1.5)`
on Debian Jessie

[2016-07-24 08:32] exploitprotocol commented on #958
@ethicalhack3r @FireFart Still facing this issue. Any workaround ?

[2016-07-24 08:41] FireFart commented on #958
@exploitprotocol can you please provide the following information (all executed from the server failing to update):
[code]

[code]

[code]

[code]

[code]

Thanks!

[2016-07-24 08:42] FireFart commented on #958
@exploitprotocol also: which version of wpscan are you running?

[2016-07-24 11:32] pkhadka56 opened #969 "can't update"
[code]

[2016-07-24 13:44] FireFart commented on #969
@pkhadka56 can you please provide the following information (all executed from the server failing to update):
[code]

[code]

[code]

[code]

[code]

Thanks!

[2016-07-25 01:17] thaomarky opened #970 "Has WPSCAN save log scan website?"
Hello support!

I've scan my website by wpscan, it's says my plugin older and error XSS.

I've update plugin to the newest version, but when scan again it say the same before

Does  wpscan save log scan??

![screenshot from 2016-07-25 08-15-02](https://cloud.githubusercontent.com/assets/20107702/17088044/264f1708-5240-11e6-9d73-21e13dc31e47.png)

[2016-07-25 02:58] l3msh0 commented on #970
The reason is shown at the screenshot you pasted.

WPScan detects plugin's version from its readme file so wpscan can't determine the version if the readme file is not accessible or doesn't include version number.

[2016-07-25 03:18] thaomarky commented on #970
But my plugin hasn't readme file.

![imgpsh_fullsize](https://cloud.githubusercontent.com/assets/20107702/17089433/0dd8dd88-5251-11e6-8ffd-f139689260e5.png)

[2016-07-25 06:37] FireFart commented on #970
We can not detect the version of your plugin so all vulnerabilities are printed out.

[2016-07-25 06:37] #970 closed

[2016-07-26 13:56] exploitprotocol commented on #958
Hey @FireFart , sorry for the delay. Actually i was not facing this issue, this was with one of [PentestBox](https://pentestbox.org) user. I am reporting on his behalf.

Here is the output:

C:\

f031f4cff2d2e92cadb6f65f738b484abffa925010a9716c57862969f9bd98aec3a1c06cdd51500abbcf6de3d157780b39c8e4242337517e36881ee4a5f0aa33 *-

C:\

f031f4cff2d2e92cadb6f65f738b484abffa925010a9716c57862969f9bd98aec3

[2016-07-26 14:00] FireFart commented on #958
@exploitprotocol so the caching issue does not exist any more for this user. But we are still in contact with cloudflare because of an issue with their cache invalidation API

[2016-07-26 14:08] ethicalhack3r commented on #968
Thanks for the heads up! As you'll know OSs and their packages are constantly changing so it is difficult for us to keep on top of the installation instructions.

I'll download Debian when I have some spare time and check our instructions, and update them where needed. Thanks again!

[2016-07-26 14:10] ethicalhack3r commented on #966
It looks like you're using Docker WPScan? https://github.com/wpscanteam/docker-wpscan

[2016-07-26 14:11] ethicalhack3r commented on #965
Did you try to reduce the number of threads?

[2016-07-26 14:17] ethicalhack3r commented on #969
@pvdl please contact me. Been trying to contact you.

[2016-07-26 16:55] pvdl commented on #969
Hi @ethicalhack3r, you can contact me on my private email address.

[2016-07-26 17:01] ethicalhack3r commented on #969
@pvdl tried a few times but no answer :) maybe they're ending up in your spam folder?

[2016-07-26 17:51] pvdl commented on #969
Please send your question/request again. Spam folder has emails with tests and License related emails.

[2016-07-26 18:03] pvdl commented on #969
Hi @ethicalhack3r. I'll think I found your email. I'll respond to it this evening. :)

[2016-07-26 19:41] ovizii commented on #968
Cool, thanks for picking this up. Would love to be able to run this on Debian again. Please update this if anything new comes out of you looking into Debian again.

[2016-07-26 22:29] msnmessenger opened #971 "My last step left need help"
I am using Windows 10 and i am not a pro on comings or CMD commands but according tutorials i tried to install on windows 10 and worked fine now the just problem i am facing is this error
Unable to get https://data.wpscan.org/local_vulnerable_files.xml.sha512 (Peer certificate cannot be authenticated with given CA certificates)

IF there is a way to fix this please can you explain on a way by not

[2016-07-27 05:43] FireFart commented on #971
@msnmessenger Windows is not officially supported. The error says that your system does not trust the cloudflare CA, so you need to fix this on your systen.

[2016-07-27 05:43] #971 closed

[2016-07-27 06:20] pkhadka56 commented on #969
@FireFart Thanks don't know how. It is solved. Thanks again.

[2016-07-27 06:20] #969 closed

[2016-07-29 22:13] van7hu commented on #958
I have this problem today.
[code]

[2016-07-30 20:18] FireFart commented on #958
@van7hu can you please post the output of
[code]
? This is the info the guys over at cloudflare need to investigate this issue

[2016-07-30 20:38] aaroncrawford commented on #958
I'm receiving the checksum error as well when I try to update.  Same file - plugins.json.  Here's the output of the curl :

fl=15f71
h=data.wpscan.org
ip=2601:2c5:c300:18:2ccf:ca90:47cf:ff67
ts=1469911040.177
visit_scheme=https
uag=curl/7.47.0
colo=DFW
spdy=off
http=http/1.1
loc=US

Thanks for looking into it.

[2016-07-30 21:19] FireFart commented on #958
@aaroncrawford @van7hu can you create a HAR file for this file on this server? (https://support.cloudflare.com/hc/en-us/articles/203118044-How-do-I-generate-a-HAR-file-)
For both files:
https://data.wpscan.org/plugins.json
https://data.wpscan.org/plugins.json.sha512

[2016-07-30 21:55] aaroncrawford commented on #958
Sure, here you go.

[har.zip](https://github.com/wpscanteam/wpscan/files/392101/har.zip)

[2016-08-01 19:02] sullo opened #972 "Missed TimThumb"
https://plugins.svn.wordpress.org/ultimate-posts-widget/tags/1.8.1/

thumb.php

quick look @ wpscan src shows you look for variations on 'timthumb.php' but not 'thumb.php'

[2016-08-01 20:07] #972 closed

[2016-08-01 20:09] FireFart commented on #972
@sullo thx! Currently the filenames are only iterated on themes but I added the plugin you linked to our timthumbs.txt: https://data.wpscan.org/timthumbs.txt
If you run wpscan --update you should get the new file

[2016-08-01 20:50] FireFart commented on #958
@aaroncrawford interesting....the har file says
[code]

The link you called is correct, so it seems like there is an access issue. Are you able to access the file in your browser and view the contents?

[2016-08-02 04:13] aaroncrawford commented on #958
Ya - here are the files that I see.

http://d.pr/f/n9wm
http://d.pr/f/aBU

On Mon, Aug 1, 2016 at 3:50 PM, Christian Mehlmauer <
notifications@github.com> wrote:

[2016-08-02 19:50] sakrow commented on #967
Same error:
[code]

[2016-08-02 21:30] FireFart commented on #967
@sakrow your two hashes are the same, can you try to update again?

[2016-08-03 10:10] sakrow commented on #967
I tried to update, I tried deleting all and clone again...and nothing

[2016-08-03 18:43] MrEE commented on #967
I am seeing the same problem with plugins.json

[code]

I'm on a mac, hence the "shasum -a512" difference  but it's the same as sha512sum

[2016-08-03 19:34] FireFart commented on #967
@sakrow @MrEE as said multiple times before, we need the output of
[code]
to track down the issue with cloudflare. Please run the command on the machine with caching issues and post the output

[2016-08-03 20:02] MrEE commented on #967
@FireFart

I ran the command you gave multiple times in a row. This is the output

[code]

Once again the sha provided is:
[code]

[2016-08-08 13:12] getrefined opened #974 "Cannot assemble URI string with ambiguous path"
WPScan 2.9.1 (on ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]) bombs out when it encounters this within html source:

[code]

Causes this error:

[code]

[2016-08-08 13:24] FireFart commented on #974
@getrefined do you have a stacktrace so we can look into this error ? If you run wpscan with the `--verbose` switch it should print the stacktrace. Thanks!

[2016-08-08 15:08] getrefined commented on #974
Here you go:

`[!] Cannot assemble URI string with ambiguous path: '/h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;.js'
[!] Trace:
[!] /Users/ajs/.rvm/gems/ruby-2.3.1@wpscan/gems/addressable-2.3.8/lib/addressable/uri.rb:2191:in ``to_s'
/Users/ajs/.rvm/gems/ruby-2.3.1@w

[2016-08-08 15:18] FireFart commented on #974
thx @getrefined

Looks like we missed to catch invalid uri errors here:
https://github.com/wpscanteam/wpscan/blob/master/lib/common/models/wp_version/findable.rb#L215

[2016-08-08 15:21] FireFart commented on #974
We need to catch at least `InvalidURIError` https://github.com/sporkmonger/addressable/blob/addressable-2.3.8/lib/addressable/uri.rb#L2191

[2016-08-08 19:26] FireFart commented on #967
@MrEE @sakrow @attackercodeind @l3msh0 are you guys still getting caching errors or has it stopped?

[2016-08-08 19:27] FireFart commented on #958
@aaroncrawford @van7hu @exploitprotocol @tjankov @sunilsong @emiliomg @Stumpftopf are you guys still getting caching errors or has it stopped?

[2016-08-08 19:40] #974 closed

[2016-08-08 19:41] FireFart commented on #974
@getrefined could you please try again with the latest git master version? The bug should be fixed

[2016-08-08 23:10] jigsgfx opened #975 "undefined method `margin_left='"
tried to enumerate users after identifying the following user's here's what it showed

![kali](https://cloud.githubusercontent.com/assets/3947108/17499523/61be411c-5e00-11e6-93a9-7659764838ed.png)

[2016-08-09 02:27] l3msh0 commented on #967
@FireFart I've successfully updated 👌

[2016-08-09 05:05] FireFart commented on #975
@jigsgfx looks like your terminal-table version is too old. Which version of wpscan and kali are you running?
[code]

[code]

[2016-08-09 07:22] getrefined commented on #974
Morning @FireFart , just tested and can confirm that this bug is now fixed.... thanks

[2016-08-09 07:39] Stumpftopf commented on #958
@FireFart It seems to work:
[i] Updating the Database ...
[+] Checking local_vulnerable_files.xml
  [i] Already Up-To-Date
[+] Checking local_vulnerable_files.xsd
  [i] Already Up-To-Date
[+] Checking timthumbs.txt
  [i] Already Up-To-Date
[+] Checking user-agents.txt
  [i] Already Up-To-Date
[+] Checking wp_versions.xml
  [i] Already Up-To-Date
[+] Checking wp_versions.xsd
  [i] Already Up-To-Dat

[2016-08-09 10:10] jigsgfx commented on #975
Hi, thanks for your reply kindly see the image url [https://i.gyazo.com/aa8b8a003f2990fb38088e0db37b0e48.png](url)

[2016-08-09 14:02] MrEE commented on #967
@FireFart I have also successfully updated.

[2016-08-09 14:31] FireFart commented on #975
@jigsgfx It looks like you are running the git master version on kali. Kali Linux still has terminal-table 1.4.5 installed, where the master version depends on 1.6.0.
If you would like to use the latest wpscan version on kali, I suggest you use rvm to install the dependencies so your kali installation is not ruined: https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-rec

[2016-08-09 14:31] #975 closed

[2016-08-10 00:07] jigsgfx commented on #975
oh i see coz when i installed wpscan i used the Debian version... will try this out... thanks

[2016-08-10 00:17] jigsgfx commented on #975
@FireFart  having problem installing rvm see img url [https://gyazo.com/cc4daf031523fa3a0b63fd49a42f3a6a](url)

thanks

[2016-08-10 05:03] FireFart commented on #975
@jigsgfx you forgot to install rvm. The first command failed and needs to be repeated

[2016-08-10 12:25] jigsgfx commented on #975
@FireFart greate thanks it works the only problem is when i tried to check if it can show my password using admin username the results password is empty

[https://gyazo.com/a975d90cb196e7cfdee7d07a7256261f](url)

so meaning anyone who tries to use wpscan on my site will see no password?

[2016-08-10 21:47] FireFart commented on #975
@jigsgfx this means that no password was found using the wordlist you provided

[2016-08-10 21:54] #967 closed

[2016-08-10 21:54] #958 closed

[2016-08-11 00:36] jigsgfx commented on #975
@FireFart  oh i see, thanks for your big help!

[2016-08-11 01:07] mauricejohn commented on #969
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

        WordPress Security Scanner by the WPScan

[2016-08-11 01:07] mauricejohn commented on #958
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

        WordPress Security Scanner by the WPScan

[2016-08-11 01:10] mauricejohn commented on #967
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

        WordPress Security Scanner by the WPScan

[2016-08-11 05:49] FireFart commented on #967
@mauricejohn can you please post the output of
[code]
? (executed from the server having the caching issues) Thanks

[2016-08-11 10:57] mauricejohn commented on #967
fl=11f42
h=data.wpscan.org
ip=72.22.139.52
ts=1470913024.146
visit_scheme=https
uag=curl/7.49.1
colo=EWR
spdy=off
http=http/1.1
loc=VC

[2016-08-11 10:58] mauricejohn commented on #967
Tried it this morning and now it's working!

[2016-08-11 14:17] natv opened #977 "Can't update -- local_vulnerable_files.xml: checksums do not match"
I'm on Kali2.  Been using wpscan for a long time but starting about a week ago it won't update.

Error is:

[i] Updating the Database ...

[!] local_vulnerable_files.xml: checksums do not match

I downloaded wpscan via git to test that way but it requires a newer version of ruby, and not sure if updating that would break Metasploit or something else so I haven't updated ruby.

Thanks

[2016-08-11 20:35] vl23 commented on #813
[i] Updating the Database ...

[!] local_vulnerable_files.xml: checksums do not match

What can i do to fix this ?

[2016-08-11 21:55] psyyborg opened #978 "Updating WPScan DB - SSL connect error (WPScan on Windows 10)"
Hi guys,
Im new to WPScan, i'm currently trying it on windows (command prompt with ruby)
I installed DevKit, Ruby >cURL > Gems
finally installed WPScan and now i'm stuck.
C:\wpscan>wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \

[2016-08-12 01:19] xloader commented on #958
plugins.json: checksums do not match (local: 1c16eb0c6268285bc90996bed12d285ba6cba5467d6a3ebc5018269097012038d3121bc4565ae0603b2c6de8d22d1728db3e29fc8ec647e4d2fd91641d8d2c2d remote: fb2adea543e3c0c2b6fc356634c9cf551b8aeb03a5491ca5048c4b6f5ec38099b08e48275f06b9c1bb564d5131538f4e4a2e8417225362b3719de0ae93042707)

[2016-08-12 02:28] MukeshSingh28 commented on #977
Similar Issue following are the details
<img width="562" alt="screen shot 2016-08-12 at 12 27 37 pm" src="https://cloud.githubusercontent.com/assets/18393040/17611175/42b30660-6088-11e6-8c80-9c82274e5a0e.png">

[2016-08-12 08:12] ethicalhack3r commented on #978
Thanks for the report! What version of OpenSSL are you running? Can you try updating your version of OpenSSL?

[2016-08-12 11:04] psyyborg commented on #978
Hey ethicalhack3r, its a pleasure dude!
I've tried updating it (I'm not sure if i did it correct) this is the version I'm now running on my machine -

C:\Ruby>OpenSSL version
WARNING: can't open config file: /usr/local/ssl/openssl.cnf
OpenSSL 1.0.2h  3 May 2016

C:\Ruby>set OPENSSL_CONF=c:\ruby\openssl.cnf

C:\Ruby>OpenSSL version
OpenSSL 1.0.2h  3 May 2016

C:\Ruby>cd C:\wpscan

C:\wpscan>wpscan.

[2016-08-12 11:20] psyyborg commented on #978
this is what i'm guessing,
Message Digest commands (see the `dgst' command for more details)
md4               md5               mdc2              rmd160
sha               sha1

WPScan requires Sha512 and from the above output by OpenSSL, my machine does not support Sha512? (lol mind me if i sound dumb, I'm just guessing xD)

[2016-08-12 13:12] jbertman commented on #977
Same issue here - seems that the database checksum is corrupted somehow. Fresh Kali 2.0 install updated to latest through apt
Current version: 2.8
Last DB update: 2015-08-08

![image](https://cloud.githubusercontent.com/assets/4664954/17623159/a4ab7472-606c-11e6-8111-a7a8068621ff.png)

[2016-08-12 18:57] FireFart commented on #977
@natv @jbertman @MukeshSingh28 any guys from you running the git master version? I just implemented some more detailed exception output when updating (https://github.com/wpscanteam/wpscan/commit/22d69a1bf99b86103f26f39b9c1ad7c64a51f074). If anyone of you is running the git version, it would be great if you can update to the latest version and paste the output (as text, not screenshot)

Thanks!

[2016-08-12 19:03] FireFart commented on #978
We have seen various SSL/TLS issues on windows machines. Currently we only support linux installations as we have not tested it on windows yet. I bet it's something in the openssl version or configuration like SNI or ECDHE support. Also your output says something about SSLv3 which may also be a problem, but openssl errors can be real cryptic sometimes. You could investigate the handshake more clos

[2016-08-12 19:06] jbertman commented on #977
Unfortunately I am not, Kali's repo version helps with the Ruby dep, I'd be happy to try to merge those additions and give it a shot, though.

[2016-08-12 19:09] FireFart commented on #977
@jbertman you could apply the diff file (https://github.com/wpscanteam/wpscan/commit/22d69a1bf99b86103f26f39b9c1ad7c64a51f074.diff) to /usr/share/wpscan with `patch < diff_file`. You can undo the patch afterwards using `patch -R < diff_file`

[2016-08-12 19:11] FireFart commented on #958
@xloader if you are using the latest github version, it would be great if you can update and try again. I implemented some additional output when an checksum error occurs

[2016-08-12 19:19] psyyborg commented on #978
Yeah true it can be really hard to say what about the OpenSSL version is causing it not to agree with the updating..
Having done some Google research lol I only came across others having SSL issues related to Windows OpenSSL not accommodating for Sha2 certificates or something like that which has to be manually installed.. Which is tricky..
But il definitely investigate with wireshark and post an

[2016-08-12 19:20] jbertman commented on #977
@FireFart The file seems to have changed, but otherwise same issue:

[code]

[2016-08-12 19:20] mauricejohn commented on #958
Good day,

After a few retries the database updated.

[2016-08-12 19:25] FireFart commented on #977
@jbertman jeah patching failed so there is no output :/
To get git master working without messing up your kali installation you can use the RVM method. This puts all dependencies in a wpscan subfolder in your home directory so the system intallation is not touched.
You can find the instructions here:
https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-recommended

[2016-08-12 19:29] #968 closed

[2016-08-12 19:29] FireFart commented on #968
I changed the readme to include this link. Thanks @ovizii

[2016-08-12 20:36] jbertman commented on #977
@FireFart I wanted to initially avoid using the RVM method so I could keep with the kali repo, but just using the method works fine for me. If there's a fix for the kali version, that's great. I'll use this in the meantime.

[2016-08-13 01:00] cryptodoom opened #979 "[ERROR] incompatible library version Ruby"
Sorry to post this in the issues section, but I wanted to know directly which version of Ruby was compatible with WPScan.

Issue:
user@host:~/wpscan$ ruby wpscan.rb
[ERROR] incompatible library version - /home/user/wpscan/vendor/bundle/ruby/2.3.0/gems/ffi-1.9.14/lib/ffi_c.so

I could not find any information in your documentation or via the web/stack.  Installed on Xubuntu and I followed both the

[2016-08-13 02:37] joallard commented on #979
I'm gonna pitch in my support here, this was originally a Stackoverflow post, I wanted to give some help but the error message might be a little cryptic. Maybe it's worth changing the error message to be a little more clear about what's incompatible and how to fix it?

[2016-08-13 07:25] FireFart commented on #979
@cryptodoom @joallard ruby 1.9 is end of life. We on

[2016-08-13 07:27] #979 closed

[2016-08-13 07:59] joallard commented on #979
Huh? It looked like OP is using 2.3.0

[2016-08-13 08:23] FireFart commented on #979
@joallard a sorry 1.9.14 is the ffi version. Anyway this error is produced by the ffi gem. I think you are missing a dependency like libffi or smth.

[2016-08-13 16:25] motionlesshacker opened #980 "UPDATE PROBLEM"
when i try to update the database it gives me the following error
[!] LICENSE: checksums do not match
---------------------------------------------------
the exact output:

        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | |

[2016-08-13 17:12] sonirico opened #981 "wpscan --update (checksums do not match, timthumb.txt )"
I tried to update the program by `wpscan --update` but if failed with the error :

### [!] timthumbs.txt: checksums do not match

The complete output with -v flag:

_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _`

[2016-08-13 23:43] FireFart commented on #980
Hi @motionlesshacker ,
you are running an old version of wpscan where we implemented some "hack" for the datafiles which sometimes cause issues.
Please update to the latest version and try again

[2016-08-13 23:43] #980 closed

[2016-08-13 23:45] FireFart commented on #981
@sonirico jeah we are currently having issues with the datafile location. I implemented some additional infos to help us track down this issue with cloudflare but it's only in git master.
So would it be possible for you to run the git master image on the machine causing problems (https://github.com/wpscanteam/wpscan/blob/master/README.md#installing-with-rvm-recommended) or use the docker image (ht

[2016-08-15 05:49] himsingh17 opened #982 "local_vulnerable_files.xml: checksums do not match"
Getting this error found no solutions on web ..

_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

[2016-08-15 07:53] FireFart commented on #982
@himsingh17 duplicate of #980.

you are running an old version of wpscan where we implemented some "hack" for the datafiles which sometimes cause issues.
Please update to the latest version and try again

[2016-08-15 07:53] #982 closed

[2016-08-15 10:50] himsingh17 commented on #813
When I tried to Reinstall Wpscan on Kali

root@kali:~# apt-get install --reinstall wpscan
Reading package lists... Done
Building dependency tree
Reading state information... Done
Reinstallation of wpscan is not possible, it cannot be downloaded.
0 upgraded, 0 newly installed, 0 to remove and 15 not upgraded.
root@kali:~#

[2016-08-15 12:10] FireFart commented on #813
@himsingh17 maybe you are not on the latest release of kali. Check if you are using kali rolling and try again

[2016-08-15 18:53] cryptodoom commented on #979
Thanks @FireFart and @joallard for your assistance.  I checked on libffi version and it is already the newest version 3.2.1-4.

libffi-dev is already the newest version (3.2.1-4).

user@host:~/wpscan$ ruby wpscan.rb -update
[ERROR] incompatible library version - /home/user/wpscan/vendor/bundle/ruby/2.3.0/gems/ffi-1.9.14/lib/ffi_c.so

I am able to use CMSmap on this machine, however, for WP specifi

[2016-08-16 05:47] s4n7h0 commented on #958
@ethicalhack3r @FireFart I'm using the latest clone from github and getting following error

[!] plugins.json: checksums do not match (local: cebb95092bc0441c248cf132149a85dff5f5dc8a773db674a4a6d8397e7a6199a29d29bad44788137c8676b95c7fd28139e8eceeb0b1fa3de93d1818204e6bf6 remote: 44cfc9a64e9f8c871d4821ff2285b7f48252e096a336d799b2ba11ad3974d846b4a1a4f0be7fd3695903c3ba2e36ef408fdc8bec18356830892dc09db

[2016-08-16 05:54] FireFart commented on #958
@s4n7h0 thanks. The cloudflare info is essential for Cloudflare to track down the caching issue. Could you please at least provide the LOC Parameter?  You could also send the whole output to team [at] wpscan [dot] org

Thanks

[2016-08-16 06:14] s4n7h0 commented on #958
@FireFart Interesting. when i use scanning options --url the above error happened. But when i explicitly used --update, it's updated with no errors.

[2016-08-16 07:20] FireFart commented on #958
@s4n7h0 because there are caching issues on our CDN. That's why we need the additional info when an caching error happened.

[2016-08-16 09:02] jpvoisin commented on #958
I get a problem when I try to update wpscan from a fresh install made on macOS, can you help me?
(install made from github clone)

[i] Updating the Database ...
[!] plugins.json: checksums do not match (local: cebb95092bc0441c248cf132149a85dff5f5dc8a773db674a4a6d8397e7a6199a29d29bad44788137c8676b95c7fd28139e8eceeb0b1fa3de93d1818204e6bf6 remote: 44cfc9a64e9f8c871d4821ff2285b7f48252e096a336d799b2ba1

[2016-08-16 13:45] cgsmith opened #983 "Version detected is incorrect"
We are running fairly new WordPress (4.6-beta4-38147) and WPScan detects it as 3.1.2 from stylesheets numbers.

This is producing a lot of false positives in our scans.

[2016-08-16 14:02] cgsmith opened #984 "Passive plugin detection does not detect urls with "//" scheme"
The passive way of detecting plugins seems flaky to me. For example, when running the scanner without any options it finds no plugins even though inspecting the element and looking under the wp-content/plugins folder it shows six installed plugins.

The scanner should at least detect the plugins as they are loaded at runtime.

[2016-08-16 14:30] ethicalhack3r commented on #983
We use a number of different techniques to detect the WordPress version. The main fallback which we call 'advanced fingerprinting' uses hashes of client side files, css, js, etc. And we only add these to released versions. We add these hashes manually with every release and unfortunatly we can't do this for every beta release too, due to the time it takes and that not a lot of people (apart from d

[2016-08-16 14:34] ethicalhack3r commented on #984
I'm not sure what you mean by 'inspecting the element', what element are you inspecting? How are you looking under the wp-content/plugins folder? Server side? Or does the web server have directory listing enabled?

We detect plugins passively from the index page's HTML source code. If the plugins are not mentioned there then we will not detect them passively. If they are there and we are not detec

[2016-08-16 14:51] cgsmith commented on #983
Thanks!

[2016-08-16 14:51] #983 closed

[2016-08-16 15:01] cgsmith commented on #984
I can see them in the browser by inspecting element > sources. I can also see them by greping for plugin after a curl:

[code]

[2016-08-16 15:05] FireFart commented on #984
@cgsmith could you please report this url in private to team [at] wpscan [dot] org so we can investigate? The patterns you posted should be detected by the passive detection

[2016-08-16 15:06] cgsmith commented on #984
Sent off @FireFart

[2016-08-16 15:07] FireFart commented on #984
@cgsmith awesome thx!

[2016-08-16 16:26] Oneiroi commented on #813
Ran into this issue today output from -v follows database file checksum looks odd:

[code]

[2016-08-16 16:35] ethicalhack3r commented on #984
The Yoast SEO plugin should now be detected.

The bigger issue is that URLs with the "//" scheme like the one below are ignored:

```//www.example.com/wp-content/plugins/all-in-one-event-calendar/cache/e20167cf_ai1ec_parsed_css.css```

The problem is due to the regex in this method:

https://github.com/wpscanteam/wpscan/blob/c291022753339c67034b01cdbc4d3cac055f0cbb/lib/common/collections/wp_items/

[2016-08-16 19:11] twins16 opened #985 "[!] Unable to get https://data.wpscan.org/local_vulnerable_files.xml.sha512 (SSL connect error)"
i don't now what hapend when i search for vul in my server !!!!!!!!!
[!] Unable to get https://data.wpscan.org/local_vulnerable_files.xml.sha512 (SSL connect error)

[2016-08-16 19:20] #984 closed

[2016-08-16 19:21] FireFart commented on #984
@cgsmith thanks for the link! The latest version (currently only available on github) now detects 8 plugins found from passive detection

[2016-08-16 19:47] FireFart commented on #985
@twins16 can you open it in your browser? Usually this means, your openssl version on the server is too old, you'r openssl version does not support SNI, or you are missing the cloudflare certificates in your local certificate store.

[2016-08-16 19:54] twins16 commented on #985
i use the Digicert certificate ssl and i update and upgrade the server i don't use Cloudflare just nginx in my server

[2016-08-16 19:57] FireFart commented on #813
@Oneiroi it looks like your client is not decompressing a compressed response. Can you please run it again with
[code]
and post the results?

[2016-08-16 20:11] FireFart commented on #985
this has nothing to do with your servers webserver config, it's about ours. What is your operating system version and openssl version?
[code]

and

[code]

[2016-08-16 20:15] FireFart commented on #979
@cryptodoom could you try
[code]
and then
[code]
? I think this issue means, your gem was build against another ffi version or smth.

[2016-08-16 21:47] twins16 commented on #985
thank's sloved change config that's all thank you so much

2016-08-16 21:11 GMT+01:00 Christian Mehlmauer <notifications@github.com>:

[2016-08-16 22:52] #985 closed

[2016-08-17 07:23] cedriccharles4 opened #986 "Unable to update (Failure when receiving data from the peer)"
Hi !

I Have a problem while I'm trying to update WPScan os OS X El Capitan 10.11.6. Here is exactly what I have : http://grab.by/S9KY with my version of curl.

Thank you in advance,
C.

[2016-08-17 07:48] FireFart commented on #986
@cedriccharles4 can you do a
[code]
?

[2016-08-17 07:50] cedriccharles4 commented on #986
Hello FireFart ! Thank you for your reactivity !

Yes I can ! Here is what I have :
`bash-3.2# curl https://data.wpscan.org/local_vulnerable_files.xml.sha512
d9075b1f50ded87611d6eef70b2f08e2bdd21ef0eceaeaaff26aa23cbe00731009ccfdf1166eac4537eeb10d83050501222e6cdc3e5fc28daf430ef84156b27b`

[2016-08-17 08:06] cedriccharles4 commented on #986
Ok now it's seems to work, it was a proxy issue sorry ! Other question, do I have to execute my commands on sudo mode ?

[2016-08-17 08:28] FireFart commented on #986
@cedriccharles4 no sudo is not needed

[2016-08-17 08:28] #986 closed

[2016-08-17 08:34] cedriccharles4 commented on #986
So I have a problem when not using it in sudo mode :s
http://grab.by/S9OE

Thank you in advance !

[2016-08-17 08:35] FireFart commented on #986
if you cloned the repo using sudo the access rights are wrong. Be sure to chown the directory to your user

[2016-08-17 08:53] Oneiroi commented on #813
@FireFart  as requested : ```[i] Updating the Database ...
[+] Checking local_vulnerable_files.xml
Hostname was NOT found in DNS cache
  Trying 85.159.212.89...
Connected to wpvulndb.com (85.159.212.89) port 443 (#0)
successfully set certificate verify locations:
  CAfile: none
  CApath: /etc/ssl/certs
SSLv3, TLS handshake, Client hello (1):
�5MW��9���f�
��j�ҫz�ӳ�	n���v�0�,�(�$��
�kj98���

[2016-08-17 09:11] FireFart commented on #813
@Oneiroi you are using an old version of wpscan (2.8). Please update to the latest and try again

[2016-08-17 09:45] Oneiroi commented on #813
@FireFart wpscan is installed from Kali repositories; I've modified the sources.lst to include `deb http://http.kali.org/kali kali-rolling main contrib non-free`  this installs wpscan 2.0.1-0kali2 however it has dependency issues due to missing gems

[code]

[2016-08-17 09:49] Oneiroi commented on #813
[code]

Dependency hell ...

[2016-08-17 09:54] Oneiroi commented on #813
root@kali:/usr/share/wpscan# gem install bundler
Fetching: bundler-1.12.5.gem (100%)
Successfully installed bundler-1.12.5
Parsing documentation for bundler-1.12.5
Installing ri documentation for bundler-1.12.5
Done installing documentation for bundler after 4 seconds
1 gem installed
root@kali:/usr/share/wpscan# bin install --without test
bash: bin: command not found
root@kali:/usr/share/wpscan# b

[2016-08-17 09:55] FireFart commented on #813
on kali gems are installed via apt-get and not via bundler because they are insalled system wide. But glad it works now :)

[2016-08-17 09:57] Oneiroi commented on #813
@FireFart my thoughts exactly. Not the case with this update however requiring additional manual steps to resolve.

[2016-08-17 22:38] melodyc89 opened #987 "i get error wpscan json"
plugins.json: checksums do not match (local: cebb95092bc0441c248cf132149a85dff5f5dc8a773db674a4a6d8397e7a6199a29d29bad44788137c8676b95c7fd28139e8eceeb0b1fa3de93d1818204e6bf6 remote: 44cfc9a64e9f8c871d4821ff2285b7f48252e096a336d799b2ba11ad3974d846b4a1a4f0be7fd3695903c3ba2e36ef408fdc8bec18356830892dc09dbd912d13)

how i do fix it

[2016-08-19 17:04] modelm commented on #958
Another case of the same problem (latest revision from github manual install):

[code]

[2016-08-19 19:17] 6jarjar6 opened #988 "themes.json: checksums do not match"
name@name-MODEL ~/wpscan $ sudo ruby wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_

[2016-08-19 19:19] #988 closed

[2016-08-19 19:21] 6jarjar6 opened #989 "themes.json: checksums do not match"
name@name-MODEL ~/wpscan $ sudo ruby wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_

[2016-08-19 19:51] FireFart commented on #958
@modelm thx i forwarded the info to cloudflare. Is the machine having problems behind a proxy server or is it connected directly to the internet?

[2016-08-20 15:40] 6jarjar6 commented on #989
I tried the update again the day later and it completed successfully

[2016-08-20 15:40] #989 closed

[2016-08-21 11:51] OutCell opened #990 "WPScan error"
Hello,

I am trying to run WPScan and i get an error [ERROR] cannot load such file -- nokogiri/nokogiri

Using Debian (Kali)

[2016-08-21 12:03] OutCell commented on #990
Below from terminal when trying to install again.

`root@kali:~# apt install wpscan
Reading package lists... Done
Building dependency tree
Reading state information... Done
wpscan is already the newest version (2.9.1-0kali2).
0 upgraded, 0 newly installed, 0 to remove and 477 not upgraded.
1 not fully installed or removed.
After this operation, 0 B of additional disk space will be used.
Do you wan

[2016-08-21 12:31] ethicalhack3r commented on #990
It's pre-installed in Kali, you should just need to run ```wpscan``` from the terminal. If you want to update it to the latest released version, update Kali's packages (```apt-get update && apt-get upgrade```).

[2016-08-21 19:16] OutCell commented on #990
@ethicalhack3r thanks for your reply, I am aware it is preinstalled in Kali because it is working fine on my other laptop. But when i ran WPScan on my Kali 2016.1 (Using virtualbox) it gave me this error `[ERROR] cannot load such file -- nokogiri/nokogiri` , unfortunately. So i am trying to get it to work and find a way to fix it.

[2016-08-22 10:37] #966 closed

[2016-08-22 10:37] #965 closed

[2016-08-22 10:38] ethicalhack3r commented on #953
Looks like I missed this one! :-/ Sorry for the very delayed response.

Currently there are no plans for output in other languages.

[2016-08-22 10:38] #953 closed

[2016-08-22 11:52] sm1372 commented on #981
Hello

i have same error when update wpscan in kali :

themes.json: checksums do not match (local: eaa91a87119342c020ed2ca136edd08715ee36492fac260bd4cbed84de4b82163b8cfa38d691dad96c880a8134b69021295ee764910e5ae3b784b84397eea5da remote: e397990628de622d18915d0895c74899524e49da3debc85acbe8bd796fffa6e9a0d304290ea61bdbfa132f5a2f16f3f3ff026b3841613a3b5909c0c96017ca97)

@FireFart
how can i fix in kali?

[2016-08-22 14:26] albarki commented on #958
Same error here, CentOS6 fresh manual install, last version from github
[code]

[2016-08-22 14:51] FireFart commented on #966
@mashedpotatoh you need to mount the directory containing the wordlist as a volume into the docker image:
https://docs.docker.com/engine/tutorials/dockervolumes/#/mount-a-host-directory-as-a-data-volume

[2016-08-22 15:16] modelm commented on #958
@FireFart that machine is directly connected, no proxy, other network connections working fine

[2016-08-22 20:55] Bigmanator commented on #960
Hello! Can You help me with this problem?
I have the same versions of Kali, ruby and wpscan as CoyoteSec has. But --random-agent option doesn't help and I still have this error - Wordpress URL supplied seems to be down.

Thank You.

[2016-08-23 13:52] apuhcc commented on #981
hello, i have same error :
Updating the Database ...
[+] Checking local_vulnerable_files.xml
  [i] Needs to be updated
  [i] Backup Created
  [i] Downloading new file
  [i] Downloaded File Checksum: d9075b1f50ded87611d6eef70b2f08e2bdd21ef0eceaeaaff26aa23cbe00731009ccfdf1166eac4537eeb10d83050501222e6cdc3e5fc28daf430ef84156b27b
  [i] Database File Checksum  : �	�@K
����v7���c8������G�.�L

[2016-08-25 19:47] tylercwats opened #991 "Robots.txt prevents crawling workaround?"
The wordpress site I'm trying to crawl has this in the Robots.txt

User-agent: IRLbot
Crawl-delay: 3600

User-agent: *
Disallow: /next/

which doesn't allow for crawling from what I understand.
Is there a work around for this?

Thanks

[2016-08-25 19:52] ethicalhack3r commented on #991
robots.txt just asks not to be crawled. Its up to the bots whether they
listen or not.

We don't crawl targets. If we did it would be our choice if we took any
notice of robots.txt, which we wouldn't as we'd want to crawl.

Please close this issue as I'm not logged into Github right now :)

On 25 Aug 2016 9:48 p.m., "tylercwats" <notifications@github.com> wrote:

[2016-08-25 20:06] #991 closed

[2016-08-28 20:20] FireFart commented on #981
@sm1372 is the error still happening?

@apuhcc in your case it looks like a openssl or unzip issue. Have you updated your system? Also what version of kali are you running? `cat /etc/*release*`

[2016-08-28 20:20] FireFart commented on #958
@modelm @albarki are you guys still getting the caching errors?

[2016-08-29 09:37] apuhcc commented on #981
@FireFart Kali 2.0 (sana) // it was a recent update ..but the wpscan didn't worked before the update

[2016-08-29 10:30] sonirico commented on #981
Since I posted the issue I have been doing `sudo apt-get update && sudo apt-get install --reintall wpscan` but it never gets configured. Some error with local_vuln_file.xml or similar.
`lbs_release -a`:
[code]

[2016-08-29 13:15] modelm commented on #958
Nope, works ok for me now.

[2016-08-29 22:24] albarki commented on #958
@FireFart  No, it is working now, thanks

[2016-08-30 05:24] baroesa commented on #951
@mcdave92
how you get that working? can you give me detail step?

[2016-08-30 20:55] lnxg33k opened #992 "Updating the database."
I recommend the DB to be hosted on GitHub instead of data.wpscan.org which is behind CloudFlare.
because, as an example, when you run the update while using TOR as a socks proxy it will fail with a status: 403.

[2016-08-31 17:49] FireFart commented on #992
@lnxg33k Jeah we know about the TOR problem.
As we are an open source project run by a few people cost is always a big factor. CLoudflares CDN is free and provides some good statistics. We had the data files published to Github in the past but this was not working flawlessy. The API is a P I T A and is very error prone. Also there are no statistics on the files like number of downloads or traffic

[2016-08-31 17:49] #992 closed

[2016-09-01 21:07] FireFart commented on #981
@sonirico could you please post the complete error message? thanks

[2016-09-02 11:55] sonirico commented on #981
@FireFart It appears the error has changed since the last attempt:
[code]

[2016-09-02 12:35] Pradyumna007 commented on #779
Use sudo

[2016-09-04 11:01] emilstahl opened #993 "Unknown SSL protocol error in connection"
[code]

[code]

[code]

[SSL Server Test: dronepit.dk (Powered by Qualys SSL Labs)](https://www.ssllabs.com/ssltest/analyze.html?d=dronepit.dk&s=104.28.26.13&latest)

[2016-09-04 16:53] buger commented on #817
@erwanlr is there any chance you can share this check?

[2016-09-04 18:39] buger commented on #817
Ah, i see you mentioned v3, does it mean it is not available right now? I do not see any branches related to that. Thanks!

[2016-09-05 07:49] ethicalhack3r commented on #993
What operating system and version?

[2016-09-05 07:51] ethicalhack3r commented on #993
P.S. this could be same as #978

[2016-09-05 08:27] emilstahl commented on #993
@ethicalhack3r OS X El Capitan 10.11.6 (15G1004)

[2016-09-05 08:37] ethicalhack3r commented on #993
I can reproduce the issue on the same OS. This seems to affect WPScan but not cURL, but this is strange as WPScan uses libcurl...

What seemed to work for me was proxying the traffic though a HTTP proxy like Burp (can also try Fiddler and OWASP ZAP if you don't have Burp Suite):

```./wpscan.rb -u https://example.com/ --random-agent --proxy http://127.0.0.1:8080```

[2016-09-05 14:27] FireFart commented on #993
@emilstahl @ethicalhack3r I found this:
https://curl.haxx.se/mail/archive-2013-10/0036.html

This would be very disappointing if this is the source to the problem

But can you please run
`otool -L $(which curl)`
This should point out which version of libcurl is used.

Have you updated openssl, libcurl or curl via brew or are you still running OSX's default versions?

[2016-09-05 16:28] emilstahl commented on #993
@FireFart
[code]
Yes, openssl and curl are installed via brew.
[code]

[2016-09-05 16:32] FireFart commented on #993
Could you please try to reinstall the ethon and typhoeus gems? these are linked at compile time to your openssl and libcurl version

On September 5, 2016 6:28:54 PM GMT+02:00, Emil Stahl <notifications@github.com> wrote:

[2016-09-05 16:36] CounterForce commented on #958
I have the exact same issue.
I'm working on a Kali Linux in Virtual Box.
I tried to uninstall everything from WPscan from Kali and reinstalling it again but it doesn't fix the issue.

`root@kali:/opt/wpscan# ./wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___

[2016-09-05 16:37] emilstahl commented on #993
@FireFart Fixed. Thanks!

I ran `bundle install --without test --force`– no difference, same error…

[2016-09-05 19:37] FireFart commented on #958
thx @CounterForce ! I forwarded the info to the cloudflare team

[2016-09-05 19:40] FireFart commented on #993
@emilstahl I can not find the `--force` option in bundlers docs

Can you please try:
[code]

This should remove the 2 gems, gets the latest version and recompile them with your current brew environment

[2016-09-05 20:04] FireFart commented on #817
@buger v3 is currently developed in private. There is still a lot to do regarding usability because in v3 there are A LOT tuning options and this will overwhelm most users

[2016-09-05 20:07] FireFart commented on #981
@sonirico thank forwarded to cloudflare

[2016-09-05 20:22] FireFart commented on #993
@emilstahl @ethicalhack3r
It works if I comment this line in browser.rb

[code]

I think this has something to do with cloudflares SNI

[2016-09-05 20:59] #993 closed

[2016-09-05 21:00] FireFart commented on #993
@emilstahl @ethicalhack3r I pushed a fix to the master branch. Now SSL/TLS is always verified. If you do not want, you can set `--disable-tls-checks`. This should fix your issue.

The only case not handled by this is when the remote site is SNI enabled with invalid certificates. This case would be not testable with the current code.

Do you have the chance to test the master branch ?

[2016-09-06 05:20] FireFart commented on #990
@OutCell you need to run
[code]

if you want to reinstall. Maybe you also need to reinstall all dependencies like nokogiri again to get it working, but it looks like your kali installation is currently broken.

[2016-09-06 17:03] sonirico commented on #981
Which version of Ruby would be ideal to run wpscan? Before all this happened I installed rvm and did some tweaks (it probably will have nothing to do with this as other are experiencing this, just in case)

[2016-09-06 18:14] FireFart commented on #981
@sonirico 2.3.1 should be the best as it is the latest one. If you do not want to install the deps on your system we also have a docker image ready containing the latest codebase:
https://hub.docker.com/r/wpscanteam/wpscan/
But the checksum errors are not related to ruby, they are caused by our current CDN (cloudflare)

[2016-09-06 21:14] t0nylombardi commented on #987
@melodyc89  This error looks like it has been resolved. Check the issue #981. which is the same problem.

[2016-09-07 18:34] itgeekygirl007 opened #994 "[ERROR] cannot load such file -- typhoeus"
I'm getting the following error-> [ERROR] cannot load such file -- typhoeus

I ran the gem install typhoeus' or 'gem install --user-install typhoeus and still get the same error

[2016-09-07 18:54] itgeekygirl007 commented on #994
Update - now getting the following error - Could not find 'bundler' (>= 0) among 19 total gem(s) (Gem::LoadError)

[2016-09-07 19:08] #994 closed

[2016-09-08 12:39] viki060892 commented on #958
hi sir i have faced this error for updating wpscan:
local_vulnerable_files.xml: checksums do not match

[2016-09-12 15:37] eliddell1 opened #995 "local_vulnerable_files.xml: checksums do not match"
I am trying to update wpscan on kali 2.0 and keep getting this message

# wpscan --update
__________________________________________________ _____________
__ _______ _____
\ \ / / __ \ / ____|
\ \ /\ / /| |__) | (___ ___ __ _ _ __
\ \/ \/ / | ___/ \___ \ / __|/ _` | '_ \
\ /\ / | | ____) | (__| (_| | | | |
\/ \/ |_| |_____/ \___|\__,_|_| |_|

WordPress Security Scanner by the WPScan Team
Version 2

[2016-09-12 15:48] eliddell1 commented on #995
I just tried a fresh install and still..
`root@atreyu:~# lsb_release -a
No LSB modules are available.
Distributor ID:	Kali
Description:	Kali GNU/Linux 2.0
Release:	2.0
Codename:	sana
root@atreyu:~# apt-get install --reinstall wpscan
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required

[2016-09-12 17:18] ethicalhack3r commented on #995
Hi! We're aware of this issue and should have a fix in place within the next few weeks. In the meantime try updating the databases a bit later on, or extract the data manually via the data.zip file.

[2016-09-12 17:26] t0nylombardi commented on #987
@FireFart @ethicalhack3r This issue should be closed since its a duplicate of #981

[2016-09-12 17:28] #987 closed

[2016-09-13 22:04] amfarro opened #996 "Scan is detecting the wrong version"
WPscan returns "WordPress version 4.5.3 identified from advanced fingerprinting," but 4.5.4 is in fact installed.  I understand you manually update all the sources from the fingerprinting and I'm wondering if something as missed.

[2016-09-14 12:46] mgites commented on #996
there's an entry for 4.5.3 in the wp_versions.xml file:
<file src="wp-includes/js/tinymce/wp-tinymce.js.gz">
<hash md5="94bfaa271ff7909a2a79be05af4eae80">
<version>4.5.3</version>
</hash>

Perhaps the wp-tinymce.js.gz is the same for both 4.5.4 and 4.5.3 and thus is no longer unique?

[2016-09-14 19:33] benichmt1 commented on #994
How did you end up fixing the issue? I have the same thing but it is asking for ffi_c.

[2016-09-14 20:12] ethicalhack3r commented on #996
Updated the file. Can you update (```--update```) and see if you still see the issue? Thanks!

[2016-09-15 16:47] amfarro commented on #996
I have updated and am now getting "[i] WordPress version can not be detected"

[2016-09-16 06:02] soularrow93 commented on #794
@shogunR  at the end of the original command

[2016-09-16 06:56] ethicalhack3r commented on #996
Are you able to supply the URL to us privately to debug? If so: team at wpscan.org

[2016-09-16 23:10] eheydrick opened #997 "Wrong version detection of ml-slider"
I have ml-slider 3.3.7 installed but wpscan detects it as version 3.3.6. Not entirely sure if this is a wpscan issue or a problem with ml-slider. Perhaps it should look at the last changelog version instead of the stable tag version that's behind.

[code]

[2016-09-17 09:17] maddy45 opened #998 "rvm install 2.3.1 dependency error"
when  i ran this command it gives the error of dependencies
here is output of error.

maddy@lenovo:~$ rvm install 2.3.1
Searching for binary rubies, this might take some time.
No binary rubies available for: ubuntu/14.04/i386/ruby-2.3.1.
Continuing with compilation. Please read 'rvm help mount' to get more information on binary rubies.
Checking requirements for ubuntu.
Installing requirements for

[2016-09-19 10:07] petskratt opened #999 "False positive on 301 redirection to post with slug similiar to plugin"
If checked plugin/theme is missing, but site has a post slug starting with plugin/theme folder name, WordPress creates automatic 301 redirect to full post URL, causing false positives.

For example - hxxps://tehnokratt.net/wp-content/plugins/captcha is detected as "Captcha 2.12-3.8.1".

Could it make sense to process 301 redirects like 404's, when redirected to location other than known plugin/the

[2016-09-20 00:05] eheydrick commented on #997
ml-slider fixed the version in the readme and wpscan is now detecting the correct version after I reinstalled the plugin. I don't think this is really a wpscan issue but rather a problem with ml-slider's readme.

[2016-09-20 07:12] ethicalhack3r commented on #997
Thanks for the report, great to hear that you were able to resolve the issue

[2016-09-20 07:12] #997 closed

[2016-09-21 05:03] johnmckinght commented on #958
i have same problem with Kali Linux 2.0 Light
[code]
verbose results while trying to update
[code]
@FireFart is there any doc for the docker version can you point me? i would like to try that, been a while since i use wpscan
thankyou

[2016-09-21 08:11] johnmckinght commented on #958
bdw i was able to use wpscan now.
i was following [docker installation step](https://hub.docker.com/r/wpscanteam/wpscan/ "wpscan docker") until `bundle install --without test`
[code]
updating database
[code]

[2016-09-22 14:21] kostakos14 opened #1000 "The WordPress URL supplied seems to be down."
I don't know how to resolve this I tried --random-agent and all of the suggested syntax like
-u www.dermatologist.gr  --url www.dermatologist.gr etc
but nothing changed.
I run the curl command but I can't understand the output.

![screenshot from 2016-09-22 17-18-28](https://cloud.githubusercontent.com/assets/12672541/18751699/9b9f69d2-80e8-11e6-8ccf-08cfd53e23e7.png)

[2016-09-23 08:49] ethicalhack3r commented on #1000
Very strange as I do not get that error, and as seen from your screenshot cURL is able to access the site, and we use libcurl so WPScan should also

Maybe try proxying the traffic through Burp or similar and see what the HTTP request/response is?

[2016-09-23 16:48] kostakos14 commented on #1000
Am i using Burp in the right way?
I'm not familiar at all.

Also again I have the same **issue**.

![screenshot from 2016-09-23 19-46-19](https://cloud.githubusercontent.com/assets/12672541/18794095/9ab50ea8-81c6-11e6-9c2f-75ff75d758dd.png)
![screenshot from 2016-09-23 19-47-08](https://cloud.githubusercontent.com/assets/12672541/18794096/9aba7e56-81c6-11e6-9008-0c44adcab6f2.png)

[2016-09-29 16:58] eheydrick opened #1001 "Fingerprinting not identifying wordpress 4.6.1"
Running wpscan with an up to date database against a wordpress 4.6.1 server results in `[+] WordPress version 4.6 identified from advanced fingerprinting`. Something up with fingerprinting?

[2016-09-29 19:09] raydonovan opened #1002 "Dependency eror with libcurl4-openssl-dev"
Hello, I can't install wpscan cause of libcurl4-openssl-dev :

root@kali:~# apt-get install libcurl4-openssl-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  libcurl4-doc libcurl3-dbg libidn11-dev libkrb5-dev libldap2-dev librtmp-dev libssh2-1-dev libssl-dev pkg-config zlib1g-dev
The following NEW packages will be installed:
  libcu

[2016-10-02 19:57] FireFart commented on #1002
maybe you need to run `apt-get update` before. But the errors are out of our scope because they are generated from kalis servers

[2016-10-02 19:57] #1002 closed

[2016-10-02 19:57] FireFart commented on #1001
@ethicalhack3r have you updated the files already?

[2016-10-04 17:25] LucasRoot commented on #692
Needing this too

[2016-10-04 17:27] LucasRoot opened #1004 "Request timed out."
When bruteforcing, about in 20 minutes, the site stays offline for about a minute, but with this, the wpscan stop working.
I would like to WPScan not stopping the service, but waiting to site to respond without a timeout.

[2016-10-05 16:29] stardothosting opened #1005 "Connects to SOCKS5 proxy as HTTP"
Hello,

I've been trying to utilize a series of SOCKS5 proxies with wpscan and have noticed that even if I specify the **--proxy** flag with **socks5://127.0.0.1:9000** , it still attempts to connect to the proxy as an HTTP proxy, which I understand is the default if no proxy type is specified.

Find the debug-output below from my attempt :

[code]

[2016-10-05 16:30] stardothosting commented on #1005
wrong issue

[2016-10-05 16:30] #1005 closed

[2016-10-05 16:31] kevinnivek opened #1006 "Connects to SOCKS5 proxy as HTTP"
Hello,

I've been trying to utilize a series of SOCKS5 proxies with wpscan and have noticed that even if I specify the **--proxy** flag with **socks5://127.0.0.1:9000** , it still attempts to connect to the proxy as an HTTP proxy, which I understand is the default if no proxy type is specified.

Find the debug-output below from my attempt :

[code]

[2016-10-05 16:42] kevinnivek commented on #1006
Should note my curl version for reference :

[code]

[2016-10-05 16:43] kevinnivek commented on #1006
And libcurl :

[code]

[2016-10-05 16:48] kevinnivek commented on #1006
ok ... weird..

I just did a **gem install curl** in the wpscan folder and everything resolved, after updating curl.

i think this is fixed now!

[2016-10-05 16:48] #1006 closed

[2016-10-05 17:56] LucasRoot commented on #799
Agreed, would be a good option.

[2016-10-06 07:24] skythink opened #1007 "Try to run 'gem install readline' or 'gem install --user-install readline' in Debian 8 or Jessie"
hi im try to install wpscan but im have error

Try to run 'gem install readline' or 'gem install --user-install readline'

im try to install it but i have error again like this

ERROR:  Could not find a valid gem 'readline' (>= 0) in any repository
ERROR:  Possible alternatives: deadline, redline, deadlinez, deadlink, headliner

anyone can help me ??
thanks :)

[2016-10-07 08:21] ethicalhack3r commented on #1007
Can you try updating rubygems?

[code]

[2016-10-07 08:22] ethicalhack3r commented on #1004
You can increase the request timeout with ```--request-timeout 60``` (seconds I believe)

[2016-10-07 08:22] #1004 closed

[2016-10-07 08:23] ethicalhack3r commented on #1000
you need to tell WPScan to use Burp with the ```--proxy``` option

```wpscan.rb -u www.example.com --proxy http://127.0.0.1:8080```

[2016-10-08 11:01] kostakos14 commented on #1000
I tried it with this option but again the same problem.

And I can't find what's the cause.

![screenshot from 2016-10-08 13-55-30](https://cloud.githubusercontent.com/assets/12672541/19212678/03e19632-8d5f-11e6-9f7b-bd0e403f37e9.png)

[2016-10-12 12:12] LucasRoot commented on #1004
Still doesn't working.
Command I used: ./wpscan.rb -u "site.com/wordpress" --username "admin" -r --wordlist ../dic.txt --request-timeout 6000
But the sites get down for a moment and I get this output:

[2016-10-12 12:39] ethicalhack3r commented on #1004
You could try ```--random-agent``` if there is a WAF/IPS in place. You'll need to figure out what the server is doing. You can proxy the traffic through Burp to see every request/response.

[2016-10-12 12:39] ethicalhack3r commented on #956
Anything preventing us from going ahead with this release?

[2016-10-12 14:00] LucasRoot commented on #1004
I'm alredy using the --random-agent function (-r).
Using Burp Suite, I found that some requests weren't completed.
I don't know if this is the real problem, as I didn't get the same error when using without proxies.

![wpscan](https://cloud.githubusercontent.com/assets/6840096/19312968/238873c0-906b-11e6-92a8-80b623fc3375.png)

[2016-10-12 14:42] FireFart commented on #956
@ethicalhack3r don't think so. Anyone had problems with the changes I implemented in the last weeks/months? If not we could give it a go

[2016-10-12 15:09] ethicalhack3r commented on #1004
You could try lowering the number of threads with ```--threads 1```

[2016-10-12 15:41] ethicalhack3r commented on #1001
Yea I updated the file with another hash. Maybe @erwanlr can double checkif
he has time? :)

On 12 Oct 2016 5:38 p.m., "Aaron Edwards" <notifications@github.com> wrote:

[2016-10-12 16:17] erwanlr commented on #1001
Should be fixed now.

```./wpsan.rb --update``` ad you are good to go :)

[2016-10-12 20:05] LucasRoot commented on #1004
Worked smoothly!
Thanks a lot!

[2016-10-13 20:55] ethicalhack3r commented on #1001
@eheydrick @uglyrobot does the latest update fix the issue for you?

[2016-10-13 20:56] #996 closed

[2016-10-13 20:57] ethicalhack3r commented on #981
Please use this issue for checksum problems #977

[2016-10-13 20:57] #981 closed

[2016-10-13 20:58] ethicalhack3r commented on #995
Please use this issue for checksum problems #977

[2016-10-13 20:58] #995 closed

[2016-10-13 20:59] #978 closed

[2016-10-13 20:59] #990 closed

[2016-10-13 21:00] #504 closed

[2016-10-13 21:00] #388 closed

[2016-10-13 21:01] #554 closed

[2016-10-13 21:01] #556 closed

[2016-10-13 21:01] #594 closed

[2016-10-13 21:03] ethicalhack3r commented on #837
Please use the first issue created for this #407

[2016-10-13 21:03] #837 closed

[2016-10-13 21:07] #1007 closed

[2016-10-13 21:09] eheydrick commented on #1001
Yes it does. Thanks.

[2016-10-13 21:12] #1001 closed

[2016-10-13 21:12] ethicalhack3r commented on #1001
Thanks for the heads up!

[2016-10-14 09:09] ethicalhack3r commented on #799
What about a new command line parameter named ```--brute-only``` that bypasses the normal passive checks and goes straight to brute forcing?

[2016-10-14 10:24] FireFart commented on #799
@ethicalhack3r i thought about this too......also if we just skip all checks if the bruteforce parameter is supplied. Normally you just scan the site OR do a bruteforce, not both at a time

[2016-10-14 10:28] ethicalhack3r commented on #799
Initially it was this way to be able to 'fire and forget' a scan with 1 command, rather than having to issue multiple commands (enumerate + brute) to assess a site. But we can change that behaviour if it is preferred over adding a ```--brute-only``` option. The 'skip all checks if the bruteforce parameter is supplied' would be more inline with other tools I think.

[2016-10-14 10:31] ethicalhack3r commented on #799
Another problem with changing the behaviour now is that it would break backwards compatibility. Users who want to do both enum and brute and have the wpscan run daily for example, if we made the change and they update wpscan, they would also have to account for the new behaviour.

[2016-10-14 12:54] arshidkv12 commented on #933
Just **update** by following command
sudo apt-get install ruby2.3

[2016-10-14 15:24] Viss commented on #799
Sure!

On 10/14/16 2:09 AM, Ryan Dewhurst wrote:

[2016-10-16 12:10] Joshuahobby opened #1009 "Wpscan Update Fail"
Hello?
I am trying to update WPSCAN  but it can't , i get this
  _______________________________________________________________

[i] It seems like you have not updated the database for some time.
[?] Do you want to update now? [Y]es [N]o [A]bort, default: [N]y
[i] Updating the Database ...

[!] local_vulnerable_files.xml: checksums do not match

What can i do?

[2016-10-17 10:15] ethicalhack3r commented on #1009
Hi, this is being tracked here https://github.com/wpscanteam/wpscan/issues/977

Please can you ensure you're using the latest WPScan code from Github (git clone) and try again. Please post any followup comments in the other issue. Thanks!

[2016-10-17 10:15] #1009 closed

[2016-10-17 13:14] ethicalhack3r opened #1010 "Username enumeration via wp-login.php"
Username enumeration via 'author' URL was found to be a better way to enumerate users when we created WPScan. But now people and plugins have started to mitigate this. Would be good to offer alternative username enumeration against wp-login.php when 'author' username enumeration fails. Can try a small list of common usernames, and/or allow the user to provide a username list.

http://www.ethicalha

[2016-10-17 13:15] erwanlr commented on #1010
V3 does that already

On 17 Oct 2016 14:14, "Ryan Dewhurst" <notifications@github.com> wrote:

[2016-10-17 13:16] ethicalhack3r commented on #1010
Forgot or didn't see that feature 😃

[2016-10-17 13:16] #1010 closed

[2016-10-19 08:33] scibiszPiotr opened #1011 "Problem detection WPML"
I use plugins WPML, they do not contain readme files, so wpscan returns to me every time you scan all the errors that were in previous versions.
Plugin WPML contain the files changelog.md, you could add checking this file also for the detection of plugin version.

[2016-10-20 05:29] FireFart commented on #977
@ethicalhack3r @jbertman @MukeshSingh28 @natv @Joshuahobby @eliddell1 @sonirico are you guys still having troubles updating? I implemented a "clear complete cache" once a day for now.

We are currently looking into switching our CDN so these might resolve your isseus too

[2016-10-20 08:27] Joshuahobby commented on #977
Yes i still have a Trouble in updating it, you told me to use it on GitHub  but i didn't got how to do it,
Please if it is possible may i get the Step by step of How i can update it,
NB: I am a beginner in GitHub

[2016-10-20 08:28] FireFart commented on #977
@Joshuahobby we are currently switching CDN which hopefully resolves all issues

[2016-10-20 08:30] Joshuahobby commented on #977
That means I can now update it how??

[2016-10-20 08:31] FireFart commented on #977
`./wpscan --update` once we are finished

[2016-10-20 08:32] Joshuahobby commented on #977
When are you gonna be done with it??

[2016-10-20 12:55] NedkoHristov opened #1012 "WPScan.org is unavialable"
*Steps to reproduce*

1. Open WPScan.org;

{color:red}*Actual results:*{color}
User is redirected to the "Sucuri Website Firewall" page. This may be the problem with website certificate's chain too.

Screenshot home screen - ![wpscan_home_page](https://cloud.githubusercontent.com/assets/5328274/19560505/78829d24-96dd-11e6-9936-46b32f46d8a2.png)

Screenshot invalid certificate - ![wpscan](https://c

[2016-10-20 12:57] FireFart commented on #1012
Jeah we are currently switching our CDN and it takes some time for everything to be set up.

[2016-10-20 12:57] #1012 closed

[2016-10-20 15:34] okossuth opened #1013 "wpscan DB updates not working"
Hello

When trying to update the wpscan DB i get this error:

root@xxxx:/moo/# ./wpscan.rb --update --verbose
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| |

[2016-10-20 15:47] FireFart commented on #1013
We are currently switching CDN so there might be some errors till all is set up correctly

[2016-10-20 15:47] #1013 closed

[2016-10-20 16:09] tomaspinho opened #1014 "wpscan.org / wpvulndb.com - down and/or certificate error"
Hey! It seems like the site is down and I can't update wpscan's database.

[2016-10-20 16:13] ethicalhack3r commented on #1014
Hi! We're aware of the issue and are currently waiting on the issue being resolved by our CDN. I'll leave this issue open for others to comment if necessary.

[2016-10-20 17:49] ethicalhack3r commented on #1014
Should all be back to normal now

[2016-10-20 17:49] #1014 closed

[2016-10-20 23:35] TWIISTED-SHOPS opened #1015 "WPScan not supported"
how does one fix an error that .wordpress.com are not supported

[2016-10-21 09:11] FireFart commented on #1015
that's no error, that's expected behaviour

[2016-10-21 09:11] #1015 closed

[2016-10-21 13:07] okossuth commented on #1013
How long until it is set up correctly?

[2016-10-21 18:59] mellat opened #1016 "Unable to get https://data.wpscan.org/local_vulnerable_files.xsd.sha512 (status: 403)"
403 error on updating wpscan .
aras-MacBook-Pro:wpscan ara$ ruby wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/

[2016-10-21 19:41] wacheski commented on #1016
I am getting this too. Curl and Http successfully return a 128 hash.

[2016-10-21 19:49] prabhant commented on #1016
im getting the same error while updating the DB

[2016-10-21 22:41] FireFart commented on #1016
@mellat @wacheski @prabhant errors are not resolved

[2016-10-21 22:41] #1016 closed

[2016-10-21 22:41] FireFart commented on #1013
@okossuth errors are resolved

[2016-10-21 22:42] FireFart commented on #1012
@NedkoHristov errors should now be resolved :)

[2016-10-22 04:49] wacheski commented on #1016
Thank you.  Database retrieved successfully.

[2016-10-22 08:04] NedkoHristov commented on #1012
@FireFart - confirmed. Thanks for the assistance and info :)

[2016-10-22 12:17] prabhant opened #1017 "database update failure"
plugins.json: checksums do not match (local: c6e6737b018c1e21c6658308f7ecf568a37f6dcc10027a8726f0ca0dc294789a917d038d82df46027a42f31760a015176a3b81fe370703d84231716a9a79239d remote: 12d711b670fe831a0aa0f8bd5922b4a9d816a7e719a8d4bf9c32fc53cb5e7bf8dfe31a8858f3ef1aa4de41fe37d9dcf4434dbc9d143fba915564937815d518e4)

i'm facing this message while updating the DB

[2016-10-23 10:49] tomaspinho commented on #1014
Thanks! :D

[2016-10-24 16:58] uglyrobot opened #1018 "Soft 404's are detected as plugin/theme installed"
Scanning my domain returns every single vulnerable plugin/theme in the db for my site. For example https://andycrone.com/wp-content/plugins/redirection/

Shouldn't a 404 detect as not installed?

[2016-10-25 05:40] FireFart commented on #1018
I think this is caused by cloudflare. We need to look into this, maybe we can detect smth like "SmartErrors powered by CloudFlare"

[2016-10-25 18:24] ethicalhack3r commented on #1016
It is being caused by our user agent string. Currently working on a
workaround. You should be able to use --random-agent for now

On 21 Oct 2016 8:41 p.m., "wacheski" <notifications@github.com> wrote:

[2016-10-25 18:45] FireFart commented on #1018
@uglyrobot could you please test with this PR?
https://github.com/wpscanteam/wpscan/pull/1019

(diff file: https://github.com/wpscanteam/wpscan/pull/1019.diff)

This patch removes script tags before calculating hashes like the error hash

[2016-10-26 00:15] MuhammetDilmac commented on #955
@FireFart have you any idea?

[2016-10-26 09:45] FireFart commented on #955
@matiasw maybe your GEM_PATH variable is not pointing to vendor/bundle

What are your current env variables?

[2016-10-26 11:22] MuhammetDilmac commented on #955
I'm running bundle install(using root) after i exec wpscan i get this error. @FireFart

[2016-10-26 18:57] creativeshuvo opened #1020 "Sahifa 2.4.0 - Multiple Script Path Disclosure Direct Request Path Disclosure"
http://imgur.com/a/f4Wad

check out the screenshot.
Any idea how to solve this issue.

[2016-10-26 22:51] FireFart commented on #1020
what's the issue with this infos?

[2016-10-27 06:06] creativeshuvo commented on #1020
i am using sahifa theme on my blog. When i was about  to scan with wp scan i found this vulnerability. How i solve this vulnerability

[2016-10-27 08:07] FireFart commented on #1020
You need to update your theme or ask the theme maintainer to fix issues.

[2016-10-27 08:07] #1020 closed

[2016-10-27 09:02] creativeshuvo commented on #1020
i am using null theme thats why i dont update my theme. i want to fix this issue

[2016-10-27 15:37] leanda opened #1021 "Number of plugins detected wrong"
I'm totally new to WPScan so forgive me if I'm misunderstanding something, I'm a beginner!

I ran a scan on my site using the --enumerate p command.

The first scan gave me the wrong WordPress version number and listed a bunch of plugins that are not installed on the site and never have been. I had a sneaky feeling that the Wordfence plugin might be skewing the results so I deactivated the plugin

[2016-10-27 15:58] anantshri opened #1022 "detecting all active and inactive plugin's"
Hey Folks,

as far as i understand wpscan does plugin / themes scan for a fixed list of plugin's / themes when its looking for them. is there an option where it can look for every plugin ever registered.
https://plugins.svn.wordpress.org/ <- this would give us list of all plugin's ever registered. we can get list of plugins to be scanned from here.

Useful:
1) when non conventionally popular plugi

[2016-10-27 16:01] erwanlr commented on #1022
Isn't the ```- e ap``` option what you are looking for ?

[2016-10-27 16:29] anantshri commented on #1022
Ah let me try and use it (like i said i could be wrong).

second point do we have a note on plugin's that they are in disabled in wordpress repo. so plugins.svn.wordpress.org says the folder exist but the plugins.wordpress.org says 404

[2016-10-27 18:05] FireFart commented on #1021
@leanda we do not have all plugins in our database (for example discontinued ones). Do you have the plugin names and folder names for these 2 plugins?

[2016-10-27 18:24] leanda commented on #1021
One was Wordfence and the other was the useless Hello Dolly plugin, both these didn't appear on the plugin list.

Is it weird to see plugins that are not installed when Wordfence is active?

[2016-10-27 21:38] lokendrarawat143 commented on #961
![screenshot from 2016-10-28 03-59-56](https://cloud.githubusercontent.com/assets/16828721/19786446/a46ee21a-9cbb-11e6-8e29-a25664e9e5bd.png)
@thaomarky you don't have to re-install it simply u can just do this.....

[2016-10-28 11:46] FireFart commented on #1021
Yeah Wordfence intercepts all requests so plugin enumeration is not possible

[2016-10-28 11:46] #1021 closed

[2016-10-28 15:19] ethicalhack3r commented on #1018
did the patch work for you @uglyrobot ?

[2016-10-28 15:19] ethicalhack3r commented on #1017
this issue is being tracked here https://github.com/wpscanteam/wpscan/issues/977

[2016-10-28 15:19] #1017 closed

[2016-10-28 15:26] FireFart commented on #977
The upgrade is now finished, all should be working without caching errors

[2016-10-28 15:26] #977 closed

[2016-10-28 15:28] FireFart commented on #1011
We once scraped the whole wordpress version repo for additional files containing version numbers and these are extremly uncommon so we decided to not check them. Otherwise a plugin enumeration would last longer

[2016-10-28 15:28] #1011 closed

[2016-10-28 15:29] FireFart commented on #1000
@kostakos14 the proxy command did not work because you called wpscan wrong (notice the error message)

[2016-10-28 15:29] #1000 closed

[2016-10-28 15:30] FireFart commented on #999
@petskratt i do not understand the issue here. Can you create post slugs with slashes in it? I have never seen that before

[2016-10-28 15:32] FireFart commented on #998
@maddy45 this is a RVM installation issue. You can get help on the RVM page (for example http://rvm.io/rvm/prerequisites) but your error looks like you need to do a full system upgrade because some packages could not be installed

[2016-10-28 15:32] #998 closed

[2016-10-28 15:32] FireFart commented on #964
@digininja any update on this one?

[2016-10-28 15:33] FireFart commented on #955
Closing due to no response. Will be reopened on answer

[2016-10-28 15:33] #955 closed

[2016-10-28 17:30] petskratt commented on #999
slashes are not an issue here, WP creates automatic redirects if last part of URI matches part of an existing post slug - to reproduce create on any WP site post (not page) with slug "captcha-foo-bar" and try to navigate to /wp-content/plugins/captcha on that site, you will end up on blog's URL and WPscan will report detected plugin without detected version, creating a lot of false-positive sugges

[2016-10-29 04:42] juniorriau opened #1023 "DB Url moved to data.wpscan.org, db_updater.rb not updated"
hello

I have issue when i update wpscan
`hafizh@hafizh:~/wpscan$ ./wpscan.rb --update
_______________________________________________________________
        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \

[2016-10-29 12:24] FireFart commented on #1023
you are running an outdated version of wpscan. please update

[2016-10-29 12:24] #1023 closed

[2016-10-29 12:38] juniorriau commented on #1023
hi
i download the source by clone from github before i open this issue, seem already fix when i re-clone again. thanks

[2016-10-29 13:09] kostakos14 commented on #1000
I figured it out.

If Burbsuite is running with intercept on it stops the access to the website and proxy option wont work.

[2016-10-29 18:58] scibiszPiotr commented on #1011
This plugin contains a readme file, which is in the other plugins with information about the version for the changelog which gives aktyalną version to see if you can detect on the basis of plug-in version?

[2016-11-04 19:56] amiga-500 opened #1024 "Email Alerts"
Gotta ask...i notice you guys offer email alerts from wpvulndb website.  However, although i have not signed up, i notice it gives the impression that email alerts are for ALL new vulnerabilities and has no way of allowing the user to set which plugins of interest one wants to receive email alerts on only.  Am i missing something?

Thanks for the info

[2016-11-06 00:57] gogbog commented on #878
sudo apt-get install ruby-dev should fix you :)

[2016-11-08 11:57] ethicalhack3r commented on #1024
Hi! This is correct. The following WordPress plugin may fulfil your requirement though: https://wordpress.org/plugins/plugin-security-scanner/

[2016-11-08 11:57] #1024 closed

[2016-11-08 11:58] ethicalhack3r commented on #1018
Closing due to lack of response

[2016-11-08 11:58] #1018 closed

[2016-11-08 12:00] ethicalhack3r commented on #999
I wonder if we could use the ```Location``` header to distinguish between 'real' redirects and those caused by WordPress redirecting to a post?

[code]

[2016-11-08 12:54] FireFart commented on #999
Maybe we can detect if the plugin/theme name is contained within the last part of the URI path?

[2016-11-08 12:57] erwanlr commented on #999
Will produce false negative, I've seen cases where redirects to the homepage are done when the plugins/themes exist

[2016-11-11 16:38] shimmyshack commented on #964
This might not be interesting, but just to report that I can reproduce the same issue; it's unrelated to to server load.

**backtrace**

[code]

**example.org.access.log**
- 93.184.216.34 - -  [11/Nov/2016:15:47:56 +0000] TLSv1.2/ECDHE-ECDSA-AES256-GCM-SHA384 "GET /wp-content/themes/abstract/lib/custom/thumb.php HTTP/1.1" 444 0 "https://example.org/" "WPScan v2.9.1 (http://wpscan.org)" "-"
- 93.18

[2016-11-15 20:01] ethicalhack3r commented on #956
Done!

[2016-11-15 20:01] #956 closed

[2016-11-21 07:11] theabraxas commented on #198
Any further development on this?

[2016-11-21 08:42] markri commented on #198
@theabraxas I just received a ping about this issue. Although I like wpscan for being easy to use, I already moved away from wpscan, because its a blackbox sanner (which may give false positives, and generates lots of load on the server). Because of this I wrote a whitebox scanner and released it under http://wp-sec.org which has different output options including JSON. Maybe this can be of help?

[2016-11-21 11:06] macbroadcast commented on #198
Hello @markri , nice work , is it possible to check a remote WP site with wp-sec or just local installations ? thanks

[2016-11-21 11:53] FireFart commented on #198
@macbroadcast the tool uses the local only way because that way it can detect all installed plugins. There are also several worpdress plugins available which check your site on a daily basis for new vulns and show a warning in the dashboard if any are found

[2016-11-22 13:57] raydonovan opened #1026 "/usr/lib/ruby/vendor_ruby/yajl/json_gem/encoding.rb:5:in `<top (required)>': uninitialized constant Yajl::Encoder (NameError)"
I keep having this error:

root@kali:~/ctf# wpscan
/usr/lib/ruby/vendor_ruby/yajl/json_gem/encoding.rb:5:in `<top (required)>': uninitialized constant Yajl::Encoder (NameError)
Did you mean?  EncodingError
	from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /usr/lib/ruby/vendor_ruby/yajl/j

[2016-11-22 15:11] raydonovan commented on #1026
root@kali:~/ctf# apt-get autoremove
root@kali:~/ctf# apt-get autoclean
root@kali:/# rm -rd ./var/lib/wpscan
root@kali:/# rm -rd ./var/cache/wpscan

I've added these action and install again, it works, bye.

[2016-11-22 15:12] #1026 closed

[2016-11-22 18:44] LucasRoot opened #1027 "Ignore HTTPS Certificate"
I'm testing a site that the HTTPS Certificate is invalid and every time I try to bruteforce the password I get this:

How can I ignore the certificate?
Thanks!

[2016-11-22 20:02] FireFart commented on #1027
@LucasRoot with the latest wpscan version you can try the `--disable-tls-checks` command line option.

[2016-11-22 20:22] LucasRoot commented on #1027
Thanks!

[2016-11-22 20:22] #1027 closed

[2016-11-22 22:07] dereneaton commented on #878
`sudo apt-get install ruby-dev` worked for me on Ubuntu 16.04

[2016-11-22 23:23] LucasRoot opened #1028 "Bypass Cloudflare"
I'm testing the tool against my site, but now I'm using cloudflare, there is a way to bypass it?

Maybe worth seeing [this](https://github.com/Anorov/cloudflare-scrape) and [this](https://github.com/sqlmapproject/sqlmap/blob/master/waf/cloudflare.py)

Thanks again!

[2016-11-22 23:57] FireFart commented on #1028
currently there is no option to bypass cloudflare from our code. You can try setting another user-agent so this might bypass the checks.

[2016-11-22 23:57] #1028 closed

[2016-11-23 00:05] LucasRoot commented on #1028
Alright, thank you, so cloudflare will do for now.

On 22 Nov 2016 21:57, "Christian Mehlmauer" <notifications@github.com>
wrote:

[2016-11-25 13:33] JuhaniGeniem opened #1030 "Listing wp version and all plugin versions"
I'm thinking of creating a plugin that lists wordpress version and all plugin versions to the page source *when the user comes from certain IP address*. The idea is to let WPScan know what versions the website is using.

In what syntax should I list wordpress version and each plugin version so that WPScan detects them?

[2016-11-25 13:41] ethicalhack3r commented on #1030
Hi @JuhaniGeniem

Wouldn't a plugin like https://wordpress.org/plugins/plugin-security-scanner/ suite this use case better?

[2016-11-25 13:48] JuhaniGeniem commented on #1030
@ethicalhack3r It certainly would.

Thank you! Have a nice weekend.

[2016-11-25 13:48] #1030 closed

[2016-11-27 00:33] 3n1gma30 commented on #958
__          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __ ®
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

        WordPress Security Scanner by the WPScan Team
                       Version 2.9.2
          Sponsored by Sucur

[2016-11-27 16:34] FireFart commented on #958
@3n1gma30 According to the time you posted this issue I think I know the problem. This is the time we daily regenerate the json files and need to invalidate them on our CDN which can last a few minutes. So I think you might have ran into this short timeframe. If you try to update again, it should update.

[2016-11-28 03:35] lfalletta opened #1031 "Brute Force Speed"
Team,

I'm currently receiving "429 Too many requests" during Brute Force
I understand --threads 1 is the lowest you have.  I've also tried adding the following code below and no change.

Add a sleep(1) in lib/common/models/wp_user/brute_forcable.rb after the end at line 52 :

        if queue_count >= browser.max_threads
          hydra.run
          queue_count = 0
          puts "Sent #{browser

[2016-11-28 08:34] ethicalhack3r commented on #1031
Your sleep function will just slow down adding the requests to the request queue, it won't actually slow down the requests themselves.

The following option should be used to achieve what you want:

```--throttle        <milliseconds>    Milliseconds to wait before doing another web request. If used, the --threads should be set to 1.```

[2016-11-28 12:26] #1031 closed

[2016-11-28 15:10] lfalletta commented on #1031
My bad Ryan, didn't mean waste your time bud!

On Mon, Nov 28, 2016 at 2:34 AM, Ryan Dewhurst <notifications@github.com>
wrote:

[2016-11-28 15:11] ethicalhack3r commented on #1031
Hey! No problem at all! :)

[2016-11-28 15:38] lfalletta commented on #1031
Ryan,

Quick question bro -- When the brute force is initiated and let's say I do
receive "429 - Too Many Request" -- is their an IF statement in the script
stating if receive bounce back of Too Many Request from server, to keep
sending same password request until it's accepted?  Or does it just skip
that password and continue until the server just accepts one?

On Mon, Nov 28, 2016 at 9:11 AM, Ry

[2016-11-28 16:31] ethicalhack3r commented on #1031
Currently, the password is not retried if the server responds with an error

[2016-11-28 16:33] lfalletta commented on #1031
Thanks Ryan!

On Mon, Nov 28, 2016 at 10:31 AM, Ryan Dewhurst <notifications@github.com>
wrote:

[2016-11-29 23:44] tric3r opened #1032 "undefined method `margin_left='"
When I tried enumerate users I received this error:

undefined method `margin_left=' for #<Terminal::Table::Style:0x00000006e91780>
Did you mean?  padding_left=

Kali
Wpscan version 2.9.2
Terminal Tabel version 1.7.3

[2016-11-30 04:59] net-vader12968 opened #1033 "checksums do not match"
I was updating the database then this error came up..........

[code]
Please if any one can help or if this issue was already discussed please send the link.

                                                  THX IN ADV.

[code]

[2016-11-30 06:35] FireFart commented on #1033
@net-vader12968 can you please try again?

[2016-11-30 08:10] ethicalhack3r commented on #1032
Have you tried updating terminal table?

[2016-11-30 16:21] net-vader12968 commented on #1033
Still same error @FireFart

[code]

[2016-11-30 19:57] net-vader12968 commented on #1033
I tried again for the third time and it worked, thanks for your effort @FireFart alot

[2016-11-30 21:20] #1033 closed

[2016-12-01 20:40] tric3r commented on #1032
I updated Kali and it worked. Thank you

[2016-12-01 22:23] #1032 closed

[2016-12-02 06:34] rafael1138 commented on #800
Do you know when the new version is going to be live?

[2016-12-03 02:35] bienenfeld opened #1034 "Updated plugins that don't update the readme.txt result in a false positives during scans"
After running a scan and providing the development team with a list of vulnerable/out-dated plugins they updated the plugins via the WordPress admin tool.  I ran the WPScan again and it reported the same plugins as not updated.

The bug is the plugins have been updated however the ..\<plugin>\readme.txt file has not been updated.  WPScan appears to reply on this file to determine the installed plu

[2016-12-03 13:45] ethicalhack3r commented on #1034
Hi, yea, this is where we parse the version number from. What is the 'WordPress admin tool', do you mean the WordPress administrative area or a separate tool was used to update the plugins?

We could also parse the version number from changelog files, were these updated for you or not?

If we did also parse the changelog files this would double the amount of requests needed to determine the versio

[2016-12-04 22:55] kobalt34 opened #1035 "unable to get"
http://i.hizliresim.com/PnB5XN.png

[2016-12-04 23:04] FireFart commented on #1035
Your client is not trusting the certificates provided by our CDN so you need to make sure your system can call https://data.wpscan.org . Also windows is currently not supported

[2016-12-04 23:04] #1035 closed

[2016-12-09 17:07] moses-moore-spafax opened #1036 "doesn't always detect wordpress version 4.7"
Updated WordPress core to 4.7 yesterday, but some of my websites are still reported as <4.7

- [+] WordPress version 4.6.1 (Released on 2016-09-07) identified from meta generator
- [+] WordPress version 4.6 (Released on 2016-08-16) identified from stylesheets numbers

[2016-12-10 05:54] zoxzinmin opened #1037 "How to try --random-agent parameter option?"
Hi,

I got this error

The WordPress URL supplied 'http://www.[mywebsite].com/' seems to be down. Maybe the site is blocking wpscan so you can try the --random-agent parameter

after trying with wpscan.

I would like to know how to try --random-agent parameter. I am absolute beginner and please show me code complete for run this option.

Thanks and Regards,

Zox

[2016-12-10 06:30] secureli commented on #1037
Simply run wpscan with the '-r' parameter.

In Kali Linux, the random user agents are supplied in the following file:

/usr/share/wpscan/default_data/user-agents.txt

So, to run a scan with a random user agent, do: wpscan -u test.com -r

-John

On 12/10/2016 12:54 AM, zoxzinmin wrote:

--
John M. Martinelli
website security consultant

(424) 333-4133 | https://secureli.com

This email and any file

[2016-12-10 06:45] zoxzinmin commented on #1037
Hi secureli,

Thanks for your help.

I tried as ...

ruby wpscan.rb -u www.giantsweb.net -r

But I got this Error again like as ...

The WordPress URL supplied 'http://www.giantsweb.net/' seems to be down. Maybe the site is blocking wpscan so you can try the --random-agent parameter.

How to do further? Thanks a lot.

Regards,

Zox

[2016-12-11 21:07] #1034 closed

[2016-12-11 21:09] ethicalhack3r commented on #1036
@FireFart what do you think about prioritising version detection methods? For example, if from meta generator use that, otherwise use current method.

[2016-12-11 21:13] ethicalhack3r commented on #1037
@zoxzinmin do you have permission to scan www.giantsweb.net ?

[2016-12-11 21:23] FireFart commented on #1036
@ethicalhack3r currently it chooses the output with the most matching version numbers returned from the detectors. If there is a draw between versions, the first is taken. The output also only outputs one finding:
https://github.com/wpscanteam/wpscan/blob/master/lib/common/models/wp_version/output.rb

So I think the output mentioned by @moses-moore-spafax is from multiple installations.

[2016-12-11 21:25] FireFart commented on #1037
@zoxzinmin the site is blocking your requests. This can be some custom rules or a security plugin. The additional text to use the -r parameter is only a hint that could work in some cases.

[2016-12-11 21:25] #1037 closed

[2016-12-11 21:28] secureli commented on #1037
Is there a way to use a list of rotating proxies for each different
request to perhaps alleviate this issue for @zoxinmin?

Also, not to hijack the thread... but I'm a full stack RoR developer
that is looking to move to the infosec career space. Could anyone give
me some feedback?

Thanks,
John

On 12/11/2016 04:25 PM, Christian Mehlmauer wrote:

--
John M. Martinelli
website security consultant

[2016-12-11 21:30] ethicalhack3r commented on #1037
There probably is some third party software that supports this but I don't of any off the top of my head

@secureli can you contact us at team at wpscan.org we have been looking for a RoR developer :)

[2016-12-12 08:30] zoxzinmin commented on #1037
Thanks all. It's giantsweb.net is my own website and I would like to know about my site security. Thanks for all of your active reply. I solved my problem. Thanks a lot.

[2016-12-12 09:57] sempervictus commented on #198
I've addressed this in #1029, at least to the point of exporting everything printed to JSON. Enhancements and comments welcome...

[2016-12-12 16:50] moses-moore-spafax commented on #1036
I wasn't clear:  the issue is happening two (out of eighteen) wordpress installs.  It's not one site reporting the incorrect version twice.
I don't know how to provide example URLs to test without making the "advertising my site" faux-pas.

[2016-12-12 17:07] moses-moore-spafax commented on #1036
Fixed the meta-generator one -- stale cache.
The stylesheets numbers one -- found this in the front page: `[siteurl]/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.6` so maybe it's this plugin adding noise to the signal?  The plugin itself is version 4.6 , but core is 4.7

[2016-12-13 12:35] ethicalhack3r opened #1038 "Username Enumeration via new REST API in WordPress >= 4.7"
Source: https://www.wordfence.com/blog/2016/12/wordfence-blocks-username-harvesting-via-new-rest-api-wp-4-7/

[code]

[2016-12-13 12:41] erwanlr commented on #1038
Gosh, WTF is this enabled by default.

[2016-12-13 12:43] ethicalhack3r commented on #1038
It seems so from reading the release notes, but my local install of WP 4.7 doesn't seem to have it enabled...

[2016-12-13 12:44] erwanlr commented on #1038
Maybe you have the disable-json-api plugin ? ^^ or just a rule in the htaccess ;p

[2016-12-16 14:29] crawancon opened #1039 "errors during updating: invalid checksum and others"
plugins.json: checksums do not match (local: d4b02923463af818a9ea789557070a77cd5d745a29a9cfa722535b850afff9317c0ee7fcb32af599f2cdef85ec16b591383038e23643b98766c741d7c5f530bd remote: bf2f8115c2c233da1426666192f94769929a72f4e0c4ca3bff63394b38cf2603c03c5937d926cb5190379d2438211d22b02ba10163373b1ca32b1fb0e5d89ad3)
[!] Downloaded File Content:
{"theme-my-login":{"latest_version":"6.4.6","last_updated":

[2016-12-23 06:07] not-an-iSheep opened #1040 "The WordPress URL supplied 'http://pdate/' seems to be down."
I get an error when updating:

`[!] The WordPress URL supplied 'http://pdate/' seems to be down. Maybe the site is blocking wpscan so you can try the --random-agent parameter.`

Clean git clone, no idea why the URL is set to http://pdate/

I ran `ruby wpscan.rb -update`

EDIT: I realized that I was only using one dash. Stupid Me.

[2016-12-23 06:51] ethicalhack3r commented on #1040
Can you show the command youre running? with the domain redacted if you wish

On 23 Dec 2016 7:07 a.m., "0000000" <notifications@github.com> wrote:

[2016-12-23 09:34] FireFart commented on #1040
I think you ran the wrong command. Somehow the `pdate` from `update` is interpreted as an url.

[2016-12-23 21:17] not-an-iSheep commented on #1040
I ran `ruby wpscan.rb --update`

[2016-12-23 21:18] not-an-iSheep commented on #1040
I realized that I was only using one dash. Stupid Me.

[2016-12-23 21:18] #1040 closed

[2016-12-28 12:58] shell-permission opened #1041 "[Error] Terminal Table Style:0x00000008a515d8"
[code]

[code]

[2016-12-28 13:01] shell-permission commented on #1041
[code]
can any help me for undefined method Terminal Table ?

[2016-12-28 13:06] shell-permission commented on #1041
i using kalilinux

[code]

[2016-12-28 13:39] shell-permission commented on #1041
[code]

[2017-01-04 07:55] iamehiz commented on #112
it is not showing the password

[2017-01-04 08:42] iamehiz opened #1042 "Cannot Update wpscan"
when i type

it will give me this

i dont know why?

[2017-01-04 09:06] ethicalhack3r commented on #1042
You're running a very old version of WPScan. Please update to the latest version.

[2017-01-04 09:06] #1042 closed

[2017-01-04 09:08] iamehiz commented on #1042
it doesn't update if i try using that comand in the terminal

[2017-01-04 09:15] ethicalhack3r commented on #1042
Sorry, I should have been more clear.

```wpscan.rb --update``` only updates the local vulnerability databases. You need to update WPScan itself. This will depend on how you installed it.

If you're on Kali Linux I believe the correct command is ```apt-get update && apt-get upgrade``` to update Kali's tools.

[2017-01-04 09:20] iamehiz commented on #1042
@ethicalhack3r this is what i got

[2017-01-04 09:25] ethicalhack3r commented on #1042
Please refer to Kali support or do some Googling as this is not an issue with WPScan itself. I would guess that you're running an outdated version of Kali that requires updating.

[2017-01-05 15:55] X-HAT opened #1043 "Failed to update Wpscan"
Hello,

I have this problem when i try to update wpscan :

        __          _______   _____
        \ \        / /  __ \ / ____|
         \ \  /\  / /| |__) | (___   ___  __ _ _ __
          \ \/  \/ / |  ___/ \___ \ / __|/ _` | '_ \
           \  /\  /  | |     ____) | (__| (_| | | | |
            \/  \/   |_|    |_____/ \___|\__,_|_| |_|

        WordPress Security Scanner by the WPScan Team

[2017-01-05 18:34] FireFart commented on #1043
@X-HAT you are using a very old version of wpscan you need to update it. Also see https://github.com/wpscanteam/wpscan/issues/1042

[2017-01-05 18:34] #1043 closed

[2017-01-05 20:39] dertuxmalwieder commented on #805
Look, it's back ...

[2017-01-05 21:28] fugroup commented on #876
I fixed this issue with gem update --system, and then nokogiri just installed

[2017-01-06 02:00] FireFart commented on #805
@dertuxmalwieder see https://github.com/typhoeus/ethon/issues/98

[2017-01-06 11:07] dertuxmalwieder commented on #805
Hmm... indeed, changing the `types.conf` file fixes it. I haven't said a thing, sorry!

[2017-01-06 11:07] #805 closed

[2017-01-10 02:59] mikeSaidHi commented on #817
When is v3 released? Wpscan still only check readme.txt

[2017-01-11 05:33] Mi-Al opened #1044 "Problems with ruby 2.4"
Hello! I run Arch Linux (with BlackArch repositories), after upgrading to ruby 2.4 I get the error at each WPScan operation, for instance:

`wpscan --help
[ERROR] cannot load such file -- xmlrpc/client

wpscan --update
[ERROR] cannot load such file -- xmlrpc/client
`
And the same error when I try to start scanning.
[Here](https://www.ruby-lang.org/en/news/2016/12/25/ruby-2-4-0-released/) I read:

[2017-01-11 06:03] FireFart commented on #1044
ruby 2.4 is not yet supported as several required gems fail to compile due to the Fixnum and BigInteger change :/

[2017-01-12 17:26] jopfre opened #1047 "works on bash for windows (Windows Subsystem for Linux)"
You could update the readme to say it is possible to install on bash for windows 10. I have just done this successfully using the Ubuntu requisites and RVM instructions. Scans seem to work so far.

[2017-01-13 06:46] rucha13g commented on #5
## ERROR "ruby: No such file or directory -- wpsacn.rb (LoadError)"

i have very simple solution for it...if this error in kali so just **give the path** of it

**cd /usr/share/wpscan**

then type :     ruby ./wpscan.rb --url www.example.com

[2017-01-16 00:03] petercunha commented on #1044
I got the same error, I think that you have to downgrade your Ruby version for this to work.

[2017-01-17 15:56] cicadian314 commented on #1044
Similar error, in my case, afther install a fresh ruby 2.4:
/wpscan.rb -h
[ERROR] no library specified

[2017-01-17 18:49] petercunha commented on #1044
Got a solution for MacOS users. If you installed Ruby with Homebrew, run these commands:
[code]

Now, when you run `ruby -v` you will see that version `2.3.3` is installed. WPScan should now work, but you may need to run `bundle install` again.

[2017-01-17 19:25] #1044 closed

[2017-01-17 19:26] FireFart commented on #1044
@petercunha @cicadian314 @Mi-Al the latest version in master should support ruby 2.4.0. Can you please verify?

[2017-01-17 19:26] petercunha commented on #1044
Thank you @FireFart

[2017-01-17 19:28] petercunha commented on #1044
Unfortunately I still seem to be encountering the same error.

[code]

[2017-01-17 19:28] FireFart commented on #1044
@petercunha you need to run `bundle install` to install xmlrpc

[2017-01-17 19:29] petercunha commented on #1044
Oops. I forgot to run `git pull`. Stupid me.

Everything is working great now, thanks for the fast patch @FireFart

[2017-01-17 20:05] FireFart commented on #1041
@shell-permission the method is definitely there in `1.7.3`:
http://www.rubydoc.info/gems/terminal-table/1.7.3/Terminal%2FTable%2FStyle:margin_left

I bet your code is using a system wide version of terminal-table which is out of date. What does
`dpkg -l | grep terminal-table` say?

[2017-01-18 08:37] cicadian314 commented on #1044
Thx @FireFart, soved with master latest version and bundle install.

[2017-01-19 19:43] dctabuyz opened #1048 "false-positive on old (maintained) releases"
when i scan wp 4.5.5 (4.7.1 is the latest) wpscan says that it is vulnerable, but references says that it is not. is it a bug?

[code]
[code]

[2017-01-19 21:57] ethicalhack3r commented on #1048
The database was updated earlier this afternoon. It will be automatically exported tomorrow morning (20th Jan - ~5:00GMT). After the new data has been exported you should be able to run ```wpscan.rb --update``` and no longer see the issue.

[2017-01-20 06:53] dctabuyz commented on #1048
ok, i got it, everything is fine now. thank you.

[2017-01-20 06:53] #1048 closed

[2017-01-20 20:21] FireFart commented on #1036
@moses-moore-spafax do you have some sample sites you can share with us in private to test this? team [at] wpscan [dot] org

[2017-01-20 23:00] FireFart commented on #1036
as discussed via email we can not reproduce the wrong behaviour

[2017-01-20 23:00] #1036 closed

[2017-01-23 06:46] alienwithin commented on #1038
You can test it using this small POC to see whether it has been blocked.

https://github.com/alienwithin/Scripts-Sploits/blob/master/wp_ue_api.py

[2017-01-23 07:20] anantshri commented on #1038
https://wordpress.org/news/2017/01/wordpress-4-7-1-security-and-maintenance-release/ <- they seem to have added some limitation.

The REST API exposed user data for all users who had authored a post of a public post type. WordPress 4.7.1 limits this to only post types which have specified that they should be shown within the REST API. Reported by Krogsgard and Chris Jean.

[2017-01-23 08:25] ethicalhack3r commented on #1038
Yea, looks to have been limited in 4.7.1. I doubt many people will explicitly choose to publish the user data via the API. Might still be worth checking though.

BTW, the issues I had with setting it up locally were you need to have ```AllowOverride All``` and mod_rewrite enabled in Apache.

[2017-01-23 09:00] anantshri commented on #1038
@ethicalhack3r just checked it appears usernames are still disclosed only for the people who have atleast 1 post public. so less exposure but still the exposure is present.

 just curious do you have any online copy of the environment that you use to test wp stuff locally, i use https://github.com/CodeVigilant/wp_testbed

[2017-01-23 09:05] ethicalhack3r commented on #1038
I just use a local web server. Something was started but I don't think it was completed:

https://github.com/wpscanteam/VulnerableWordpress
https://github.com/wpscanteam/wpscan/issues/807

But, that might not be the same as what you created, as you would want an up to date vanilla version I would suspect. Where this's aim was to be purposely configured to be insecure.

[2017-01-23 09:12] anantshri commented on #1038
Yup mine is a vanilla instance with php-fpm, nginx and wp-cli configured now that can then be repurposed for anything.

[2017-01-25 19:02] jopfre commented on #796
What code is returned if one warning/crit is found? The same as the code for an error? Also sometimes null is returned, does that mean anything?

[2017-01-26 08:54] FireFart commented on #796
@jopfre for every critical or warning output the return code is increased by 1. So everything above 0 means something was found.

[2017-01-26 10:03] jopfre commented on #796
@FireFart Ok so what is the code for an error? null?

[2017-01-26 10:03] FireFart commented on #796
@jopfre anything above 0

[2017-01-26 10:10] jopfre commented on #796
@FireFart  but do you see what I mean.
0 is nothing found OR error.
1+ is the number of warnings.

Seems like it would be good to differentiate between nothing found and errors

Above you said:

[2017-01-26 10:12] FireFart commented on #796
No. Everything warning+critical is > 0. So every error counts too.

0 is only returned when nothing was found

[2017-01-26 15:43] brandonsturgeon commented on #796
@FireFart I would like to know what happens when the application itself runs into an unrecoverable error. What is the return code then?

[2017-01-26 15:45] FireFart commented on #796
@brandonsturgeon as said before: something greater than zero. There is no specific app error return code

[2017-01-26 15:48] brandonsturgeon commented on #796
@FireFart We were just talking about how these codes help with automation, but any good automation tool will have to check for failures in its tools. This seems to be a pretty big flaw in terms of automation.

[2017-01-26 15:51] ethicalhack3r commented on #796
Pull requests welcome!

On 26 Jan 2017 4:48 p.m., "Brandon Sturgeon" <notifications@github.com>
wrote:

[2017-01-26 15:56] brandonsturgeon commented on #796
I see the benefit to having a return code that is relevant to the results, but looking at return code conventions, this is a bit of an antipattern. The general rule is: 0 for success, 1 for error (and then >1 for specific error codes).

Here's a compromise, let me know what you think;
 - 0 for a successful run with no wpscan warnings/ wpscan errors (meaning vulnerabilities)
 - 1 for an application

[2017-01-26 16:36] jopfre commented on #796
Yeah exactly what @brandonsturgeon is saying. When I was saying errors before I meant application errors. For example sometimes the scan is interrupted (`[!] The target seems to be down`) or I get `ECONNRESET` so I think these should return a different code to a successful run with or without discovered vulnerabilities.

Looks good to me.

[2017-01-26 17:28] ethicalhack3r commented on #796
I think the proposed error codes make sense. This change may break backwards compatibility for users who have implemented the current logic. This would require a major version bump to warn users of the breaking change.

@erwanlr do you know if the above exit codes are the same as what is currently supported by wpsan v3? or does it do something else?

It may be worth leaving this as-is, and releasi

[2017-01-26 17:35] brandonsturgeon commented on #796
I agree, this would definitely be a breaking change (Some of my code included!). Is there somewhere we can write this down to make sure it "stays on the radar" ?

[2017-01-26 17:47] erwanlr commented on #796
Exit codes in v3 can be found there: https://github.com/wpscanteam/CMSScanner/blob/master/lib/cms_scanner/exit_code.rb

[2017-01-26 17:54] ethicalhack3r commented on #796
I think that looks like what was suggested more or less. Shall we just make
v3 public and start getting feedback from users?

On 26 Jan 2017 6:47 p.m., "erwanlr" <notifications@github.com> wrote:

Exit codes in v3 can be found there: https://github.com/wpscanteam/
CMSScanner/blob/master/lib/cms_scanner/exit_code.rb

—
You are receiving this because you commented.
Reply to this email directly, view